In [1]:
library(knitr)
library(sqldf)
library(ggplot2)
library(mongolite)
library(ggplot2)
library(gridExtra)
library(dplyr)
library(tidyr)
library(jsonlite)
library(lubridate)
library(gridExtra)
library(GGally)
library(scales)
library(memisc)
 library(sp)
library(rgeos)
library(rgdal)
library(maptools)
library(RColorBrewer)
library(maps)
library(grid)
library(cluster)
library(StatMatch)
library(fastcluster)
library(factoextra)
library(stringr)
library(googleVis)
library(RMySQL)
library(data.table)
library(dbplyr)
library(DBI)
library(httr)
library(scanstatistics)
library(purrr)
library(magrittr)
library(rsatscan)
library(stringi)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

Attaching package: 'dplyr'

The following object is masked from 'package:gridExtra':

    combine

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date


Attaching package: 'GGally'

The following object is masked from 'package:dplyr':

    nasa

Loading required package: lattice
Loading required package: MASS

Attaching package: 'MASS'

The following object is masked from 'package:dplyr':

    select


Attaching package: 'memisc'

The following object is masked from 'package:scales':

    percent

The following object is masked from 'package:lubridate':

    is.interval

The following objects are masked from 'package:dplyr':

    collect, recode, rename, syms

The following object is masked from 'package:ggplot2':

    syms

The following objects are masked from 'package:stats':

    contr.sum, contr.treatment, contrasts

The following object is masked from 'package:base':

    as.array

rgeos version: 0.3-28, (SVN revision 572)
 GEOS runtime version: 3.6.1-CAPI-1.10.1 r0
 Linking to sp version: 1.3-1
 Polygon checking: TRUE

rgdal: version: 1.3-4, (SVN revision 766)
 Geospatial Data Abstraction Library extensions to R successfully loaded
 Loaded GDAL runtime: GDAL 2.2.3, released 2017/11/20
 Path to GDAL shared files: C:/MathLabASUS/SW/DM/Anaconda2/envs/rconda/Lib/R/library/rgdal/gdal
 GDAL binary built with GEOS: TRUE
 Loaded PROJ.4 runtime: Rel. 4.9.3, 15 August 2016, [PJ_VERSION: 493]
 Path to PROJ.4 shared files: C:/MathLabASUS/SW/DM/Anaconda2/envs/rconda/Lib/R/library/rgdal/proj
 Linking to sp version: 1.3-1
Checking rgeos availability: TRUE
Warning message:
"package 'maps' was built under R version 3.5.3"
Attaching package: 'cluster'

The following object is masked from 'package:maps':

    votes.repub

Loading required package: proxy

Attaching package: 'proxy'

The following objects are masked from 'package:stats':

    as.dist, dist

The following object is masked from 'package:base':

    as.matrix

Loading required package: clue
Warning message:
"package 'clue' was built under R version 3.5.2"Loading required package: survey
Loading required package: Matrix

Attaching package: 'Matrix'

The following object is masked from 'package:tidyr':

    expand

Loading required package: survival

Attaching package: 'survey'

The following object is masked from 'package:graphics':

    dotchart

Loading required package: RANN
Loading required package: lpSolve

Attaching package: 'fastcluster'

The following object is masked from 'package:stats':

    hclust

Welcome! Related Books: `Practical Guide To Cluster Analysis in R` at https://goo.gl/13EFCZ
Creating a generic function for 'toJSON' from package 'jsonlite' in package 'googleVis'

Welcome to googleVis version 0.6.2

Please read Google's Terms of Use
before you start using the package:
https://developers.google.com/terms/

Note, the plot method of googleVis will by default use
the standard browser to display its output.

See the googleVis package vignettes for more details,
or visit http://github.com/mages/googleVis.

To suppress this message use:
suppressPackageStartupMessages(library(googleVis))

Loading required package: DBI

Attaching package: 'RMySQL'

The following object is masked from 'package:RSQLite':

    isIdCurrent


Attaching package: 'data.table'

The following objects are masked from 'package:lubridate':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year

The following objects are masked from 'package:dplyr':

    between, first, last


Attaching package: 'dbplyr'

The following objects are masked from 'package:dplyr':

    ident, sql


Attaching package: 'httr'

The following object is masked from 'package:memisc':

    content


Attaching package: 'purrr'

The following object is masked from 'package:data.table':

    transpose

The following object is masked from 'package:maps':

    map

The following object is masked from 'package:scales':

    discard

The following object is masked from 'package:jsonlite':

    flatten


Attaching package: 'magrittr'

The following object is masked from 'package:purrr':

    set_names

The following object is masked from 'package:tidyr':

    extract

rsatscan only does anything useful if you have SaTScan
See http://www.satscan.org/ for free access

In [34]:
ferg_latlon_n <- read.csv("C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Features_Demo\\ferg_latlon_n.csv")

In [35]:
ferg_latlon_n$X <- NULL
str(ferg_latlon_n)

'data.frame':	9349 obs. of  5 variables:
 $ location: Factor w/ 4293 levels "ABBEVILLE SC",..: 1 2 2 3 4 5 5 6 7 7 ...
 $ time    : int  6 2 6 6 6 4 6 6 2 3 ...
 $ count1  : int  2 1 2 1 7 4 7 4 3 3 ...
 $ min_lon : num  -82.4 -76.2 -76.2 -79.4 -98.5 ...
 $ min_lat : num  34.2 39.5 39.5 35.1 45.5 ...

In [40]:
ferg_latlon_n2 <- read.csv("C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Features_Demo\\ferg_latlon_n.csv")

In [41]:
ferg_latlon_n2$X <-NULL
str(ferg_latlon_n2)

'data.frame':	24198 obs. of  5 variables:
 $ location: Factor w/ 5692 levels "ABBEVILLE SC",..: 1 2 2 2 2 3 3 4 4 4 ...
 $ time    : int  6 2 6 10 11 6 10 6 7 10 ...
 $ count   : int  2 1 2 1 1 1 1 7 2 6 ...
 $ lon     : num  -82.4 -76.2 -76.2 -76.2 -76.2 ...
 $ lat     : num  34.2 39.5 39.5 39.5 39.5 ...

In [21]:
nrow(unique(ferg_latlon_n2[c("lon", "lat", "time")]))

[1] 24198

In [28]:
nrow(ferg_latlon_n2 %>% group_by(lon, lat) %>%
                        summarise(first.row = first(location)))
                   #      arrange(location), 20)

[1] 5692

###### Get population of cities

In [30]:
pop_cities <- read.csv("../Preprocessing/Files/Demographics/usstates_placetype.csv")

In [31]:
pop_cities_2015 <- pop_cities[c("City_code", "Popestimate2015", "Place_type")]

In [32]:
pop_cities_2015 <- pop_cities_2015 %>% dplyr::rename("pop2015" = "Popestimate2015") %>%
                    
                  as.data.frame()

In [33]:
pop_cities_2015 <- pop_cities_2015 %>% filter(Place_type %in% c("city", 
                                                                "city/town", 
                                                                "municipality", "town", 
                                                                "village", "township"))

In [42]:
pop_cities_2015$ City_code <- gsub(",", "", toupper(as.character(pop_cities_2015$City_code)))
ferg_latlon_n2$location <- as.character(ferg_latlon_n2$location)

In [37]:
#head(pop_cities_2015) 
subset(pop_cities_2015, City_code == "NEW YORK NY")

      City_code   pop2015 Place_type
49804 NEW YORK NY 8582459 city

In [44]:
ferg_latlon_cities_count <- ferg_latlon_n2 %>% 
                            dplyr::select(one_of(c("location", "count"))) %>%
                            inner_join(pop_cities_2015, by = c("location" = "City_code")) %>%
                            group_by(location) %>%
                                    summarise(counts = sum(count),
                                             population = sum(pop2015)) %>%
                            
                            as.data.frame()

In [45]:
nrow(unique(ferg_latlon_cities_count))

[1] 5378

In [41]:
head(ferg_latlon_cities_count)

  location     counts population
1 ABBEVILLE SC  4      10228
2 ABERDEEN MD   6      62068
3 ABERDEEN NC   2      14572
4 ABERDEEN SD  35     112285
5 ABERDEEN WA  22      64904
6 ABILENE KS   16      26016

In [42]:
##### Get unique location, counts and population

In [46]:
city_count_pop <- unique(ferg_latlon_cities_count[c("location", "counts", "population")])

write.csv(city_count_pop, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\city_count_pop.csv")

Correlation between total_counts and population.

In [47]:
cor.test(ferg_latlon_cities_count$counts, ferg_latlon_cities_count$population)

	Pearson's product-moment correlation

data:  ferg_latlon_cities_count$counts and ferg_latlon_cities_count$population
t = 51.602, df = 5376, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.5573855 0.5931420
sample estimates:
      cor
0.5755387

If income done either upper, middle, working or $ value depends on results

Age <- numerical. Race Categorical. Urban, rural, surburban.

###### Load Age data

In [48]:
age <- read.csv("../Preprocessing/Files/Demographics/acs_2015_as2_data.csv", 
                  stringsAsFactors = FALSE)

In [54]:
age_cols <- age[c(1:4,6,8,seq(28, 118, 6), 178)]

In [48]:
str(age_cols)

'data.frame':	29322 obs. of  23 variables:
 $ GEO.id           : chr  "Id" "1600000US0100100" "1600000US0100124" "1600000US0100460" ...
 $ GEO.id2          : chr  "Id2" "100100" "100124" "100460" ...
 $ GEO.display.label: chr  "Geography" "Abanda CDP, Alabama" "Abbeville city, Alabama" "Adamsville city, Alabama" ...
 $ HC01_EST_VC01    : chr  "Total; Estimate; Total population" "52" "2646" "4454" ...
 $ HC02_EST_VC01    : chr  "Male; Estimate; Total population" "11" "1292" "2269" ...
 $ HC03_EST_VC01    : chr  "Female; Estimate; Total population" "41" "1354" "2185" ...
 $ HC01_EST_VC06    : chr  "Total; Estimate; AGE - 15 to 19 years" "0" "4.3" "7.6" ...
 $ HC01_EST_VC07    : chr  "Total; Estimate; AGE - 20 to 24 years" "0" "5.9" "7.2" ...
 $ HC01_EST_VC08    : chr  "Total; Estimate; AGE - 25 to 29 years" "0" "3.7" "6.6" ...
 $ HC01_EST_VC09    : chr  "Total; Estimate; AGE - 30 to 34 years" "0" "4.4" "5.8" ...
 $ HC01_EST_VC10    : chr  "Total; Estimate; AGE - 35 to 39 years" "0" "3.7" "7.5" ...
 $ HC01_EST_VC11    : chr  "Total; Estimate; AGE - 40 to 44 years" "0" "3.8" "6.8" ...
 $ HC01_EST_VC12    : chr  "Total; Estimate; AGE - 45 to 49 years" "0" "4" "4.5" ...
 $ HC01_EST_VC13    : chr  "Total; Estimate; AGE - 50 to 54 years" "0" "7.7" "8.1" ...
 $ HC01_EST_VC14    : chr  "Total; Estimate; AGE - 55 to 59 years" "23.1" "10.1" "8" ...
 $ HC01_EST_VC15    : chr  "Total; Estimate; AGE - 60 to 64 years" "55.8" "7.9" "5.3" ...
 $ HC01_EST_VC16    : chr  "Total; Estimate; AGE - 65 to 69 years" "0" "7" "6.4" ...
 $ HC01_EST_VC17    : chr  "Total; Estimate; AGE - 70 to 74 years" "21.2" "7.8" "4.3" ...
 $ HC01_EST_VC18    : chr  "Total; Estimate; AGE - 75 to 79 years" "0" "6.5" "3.1" ...
 $ HC01_EST_VC19    : chr  "Total; Estimate; AGE - 80 to 84 years" "0" "3" "2.8" ...
 $ HC01_EST_VC20    : chr  "Total; Estimate; AGE - 85 years and over" "0" "4.7" "0.2" ...
 $ HC01_EST_VC23    : chr  "Total; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years" "0" "13" "12.3" ...
 $ HC01_EST_VC35    : chr  "Total; Estimate; SUMMARY INDICATORS - Median age (years)" "60.5" "52.5" "39.6" ...

In [49]:
head(age_cols)

  GEO.id           GEO.id2 GEO.display.label
1 Id               Id2     Geography
2 1600000US0100100 100100  Abanda CDP, Alabama
3 1600000US0100124 100124  Abbeville city, Alabama
4 1600000US0100460 100460  Adamsville city, Alabama
5 1600000US0100484 100484  Addison town, Alabama
6 1600000US0100676 100676  Akron town, Alabama
  HC01_EST_VC01                     HC02_EST_VC01
1 Total; Estimate; Total population Male; Estimate; Total population
2 52                                11
3 2646                              1292
4 4454                              2269
5 682                               331
6 293                               143
  HC03_EST_VC01                      HC01_EST_VC06
1 Female; Estimate; Total population Total; Estimate; AGE - 15 to 19 years
2 41                                 0
3 1354                               4.3
4 2185                               7.6
5 351                                7
6 150                                13.7
  HC01_EST_VC07                         HC01_EST_VC08
1 Total; Estimate; AGE - 20 to 24 years Total; Estimate; AGE - 25 to 29 years
2 0                                     0
3 5.9                                   3.7
4 7.2                                   6.6
5 4.7                                   7.2
6 10.6                                  3.8
  HC01_EST_VC09                         ...
1 Total; Estimate; AGE - 30 to 34 years ...
2 0                                     ...
3 4.4                                   ...
4 5.8                                   ...
5 3.8                                   ...
6 1.7                                   ...
  HC01_EST_VC13                         HC01_EST_VC14
1 Total; Estimate; AGE - 50 to 54 years Total; Estimate; AGE - 55 to 59 years
2 0                                     23.1
3 7.7                                   10.1
4 8.1                                   8
5 3.1                                   10
6 15.4                                  9.6
  HC01_EST_VC15                         HC01_EST_VC16
1 Total; Estimate; AGE - 60 to 64 years Total; Estimate; AGE - 65 to 69 years
2 55.8                                  0
3 7.9                                   7
4 5.3                                   6.4
5 3.1                                   8.4
6 5.5                                   4.1
  HC01_EST_VC17                         HC01_EST_VC18
1 Total; Estimate; AGE - 70 to 74 years Total; Estimate; AGE - 75 to 79 years
2 21.2                                  0
3 7.8                                   6.5
4 4.3                                   3.1
5 7                                     3.5
6 3.8                                   3.1
  HC01_EST_VC19
1 Total; Estimate; AGE - 80 to 84 years
2 0
3 3
4 2.8
5 4.8
6 1.4
  HC01_EST_VC20
1 Total; Estimate; AGE - 85 years and over
2 0
3 4.7
4 0.2
5 1.6
6 1
  HC01_EST_VC23
1 Total; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years
2 0
3 13
4 12.3
5 12.2
6 3.8
  HC01_EST_VC35
1 Total; Estimate; SUMMARY INDICATORS - Median age (years)
2 60.5
3 52.5
4 39.6
5 42.5
6 43.6

In [ ]:
### Get column names

In [55]:
colnames(age_cols) <- age_cols %>% dplyr::slice(1)

In [56]:
age_cols <- age_cols[2:nrow(age_cols), ]

In [ ]:
### Rename some columns

In [57]:
colnames(age_cols) <- trimws(gsub("Total; Estimate;", "", colnames(age_cols)), "both")
colnames(age_cols) <- trimws(gsub("(;|-| )", "", colnames(age_cols)), "both")

In [53]:
head(subset(age_cols, ))

  Id               Id2    Geography                Totalpopulation
2 1600000US0100100 100100 Abanda CDP, Alabama      52
3 1600000US0100124 100124 Abbeville city, Alabama  2646
4 1600000US0100460 100460 Adamsville city, Alabama 4454
5 1600000US0100484 100484 Addison town, Alabama    682
6 1600000US0100676 100676 Akron town, Alabama      293
7 1600000US0100820 100820 Alabaster city, Alabama  31905
  MaleEstimateTotalpopulation FemaleEstimateTotalpopulation AGE15to19years
2 11                          41                            0
3 1292                        1354                          4.3
4 2269                        2185                          7.6
5 331                         351                           7
6 143                         150                           13.7
7 15590                       16315                         7.5
  AGE20to24years AGE25to29years AGE30to34years ... AGE50to54years
2 0              0              0              ... 0
3 5.9            3.7            4.4            ... 7.7
4 7.2            6.6            5.8            ... 8.1
5 4.7            7.2            3.8            ... 3.1
6 10.6           3.8            1.7            ... 15.4
7 5.7            5.4            6.6            ... 7.9
  AGE55to59years AGE60to64years AGE65to69years AGE70to74years AGE75to79years
2 23.1           55.8           0              21.2           0
3 10.1           7.9            7              7.8            6.5
4 8              5.3            6.4            4.3            3.1
5 10             3.1            8.4            7              3.5
6 9.6            5.5            4.1            3.8            3.1
7 5.3            4.7            3.9            2.4            2
  AGE80to84years AGE85yearsandover SELECTEDAGECATEGORIES5to14years
2 0              0                 0
3 3              4.7               13
4 2.8            0.2               12.3
5 4.8            1.6               12.2
6 1.4            1                 3.8
7 1.3            1.1               16.7
  SUMMARYINDICATORSMedianage(years)
2 60.5
3 52.5
4 39.6
5 42.5
6 43.6
7 36.6

age_cols[ , 4:ncol(age_cols)] <- sapply(age_cols[ , 4:ncol(age_cols)], as.numeric)

age_cols[which(is.na(age_cols[4:ncol(age_cols)))] <- 0

In [ ]:
#### Get key columns

In [64]:
age_cols2 <- age_cols %>% dplyr::select(one_of("Id", "Id2", "Geography", "Totalpopulation", 
                                               "MaleEstimateTotalpopulation", "FemaleEstimateTotalpopulation",
                                              "SUMMARYINDICATORSMedianage(years)")) %>%

                                #    mutate(pop_under_34 = rowSums(as.numeric(as.matrix(.[7:10])))) %>%
                                                                            
                                                     
                                                  #   per_pop_under_34 = round(pop_under_34/"Total population" * 100,2)
                                                    # %>%
                                    as.data.frame()

age_cols2 <- age_cols %>% dplyr::select(one_of(c("Id", "Id2", "Geography", "Totalpopulation", 
                                               "MaleEstimateTotalpopulation", "FemaleEstimateTotalpopulation",
                                             "AGE15to19years", "AGE20to24years", "AGE25to29years", 
                                              "AGE30to34years", "SUMMARYINDICATORSMedianage(years)"))) %>%
                            as.data.frame()

In [ ]:
### Convert to numbers

In [65]:
age_cols2[c("Totalpopulation", "MaleEstimateTotalpopulation", 
            "FemaleEstimateTotalpopulation",
                                   "SUMMARYINDICATORSMedianage(years)")] <- 
sapply(age_cols2[c("Totalpopulation", "MaleEstimateTotalpopulation", 
                   "FemaleEstimateTotalpopulation",
                                              "SUMMARYINDICATORSMedianage(years)")], 
       as.numeric)

Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"

In [ ]:
summary(age_cols2)

###### Replace NAs in MedianAge

In [66]:

age_cols2 <- age_cols2 %>% dplyr::rename("MalePop" = "MaleEstimateTotalpopulation", 
                                         "FemalePop" = "FemaleEstimateTotalpopulation" ,
                           "MedianAge" = "SUMMARYINDICATORSMedianage(years)") %>%
                            as.data.frame()

In [67]:
age_cols2$MedianAge[which(is.na(age_cols2$MedianAge))] <- 0

In [ ]:
### % male and female population

In [68]:
age_cols2 <- age_cols2 %>% group_by(Id, Id2, Geography, Totalpopulation, 
                                    MalePop, FemalePop, MedianAge) %>%
                                    summarise(per_male = 
                                              round(MalePop/Totalpopulation * 100, 2),
                                             per_female = 
                                              round(FemalePop/Totalpopulation * 100, 
                                                    2)) %>%
                            as.data.frame()

In [69]:
colnames(age_cols2) <- tolower(colnames(age_cols2))

#### Load statistics about urban/rural populations

In [83]:
urban <- read.csv("../Preprocessing/Files/Demographics/acs_2015_ur3.csv", 
                  stringsAsFactors = FALSE)

In [84]:
urban_cols <- urban[c(3:7,10)]

In [ ]:
### Rename columns

In [85]:
colnames(urban_cols) <- tolower(urban_cols %>% dplyr::slice(1))

In [86]:
colnames(urban_cols) <- trimws(gsub(":", "", colnames(urban_cols)), "both")
urban_cols$total <- trimws(gsub("(\\d{1,})\\(r\\d{1,}\\)", "\\1", 
                                urban_cols$total), "both")

In [88]:
urban_cols[ , 4:ncol(urban_cols)] <- sapply(urban_cols[ , 4:ncol(urban_cols)], as.numeric)

In [ ]:
### Replace NAs

In [89]:
urban_cols$total[which(is.na(urban_cols$total))] <- 0
urban_cols$urban[which(is.na(urban_cols$urban))] <- 0
urban_cols$rural[which(is.na(urban_cols$rural))] <- 0

In [79]:
summary(urban_cols)

      id                id2             geography             total
 Length:27164       Length:27164       Length:27164       Min.   :      0
 Class :character   Class :character   Class :character   1st Qu.:    435
 Mode  :character   Mode  :character   Mode  :character   Median :   1265
                                                          Mean   :   8406
                                                          3rd Qu.:   4524
                                                          Max.   :8175133
     urban             rural
 Min.   :      0   Min.   :    0.0
 1st Qu.:      0   1st Qu.:   42.0
 Median :     80   Median :  255.5
 Mean   :   7888   Mean   :  517.7
 3rd Qu.:   4222   3rd Qu.:  667.0
 Max.   :8175057   Max.   :39432.0

In [80]:
tail(urban_cols)

      id               id2     geography               total urban rural
27159 1600000US5683040 5683040 Wheatland town, Wyoming 3627  3355   272
27160 1600000US5683765 5683765 Wilson CDP, Wyoming     1482     0  1482
27161 1600000US5684925 5684925 Worland city, Wyoming   5487  5371   116
27162 1600000US5685015 5685015 Wright town, Wyoming    1807     0  1807
27163 1600000US5686665 5686665 Yoder town, Wyoming      151     0   151
27164 1600000US5686737 5686737 Y-O Ranch CDP, Wyoming   195     0   195

In [91]:
urban_cols2 <- urban_cols %>% dplyr::rename("total_area" = "total") %>%
                                group_by(id, id2, geography, total_area, 
                                    urban, rural) %>%
                                    summarise(per_urban = round(urban/total_area * 100, 2),
                                             per_rural = round(rural/total_area * 100, 2)
                                             ) %>%
                                  #  mutate(isurban = ifelse(per_urban >= 70, 1, 0)) %>%
                            as.data.frame()

In [92]:
urban_cols2 <- subset(urban_cols2, id != "Id")

In [93]:
summary(urban_cols2)

      id                id2             geography           total_area
 Length:27163       Length:27163       Length:27163       Min.   :    100
 Class :character   Class :character   Class :character   1st Qu.:    435
 Mode  :character   Mode  :character   Mode  :character   Median :   1265
                                                          Mean   :   8406
                                                          3rd Qu.:   4524
                                                          Max.   :8175133
     urban             rural           per_urban        per_rural
 Min.   :      0   Min.   :    0.0   Min.   :  0.00   Min.   :  0.00
 1st Qu.:      0   1st Qu.:   42.0   1st Qu.:  0.00   1st Qu.:  0.71
 Median :     80   Median :  256.0   Median : 12.07   Median : 87.93
 Mean   :   7888   Mean   :  517.8   Mean   : 46.44   Mean   : 53.56
 3rd Qu.:   4223   3rd Qu.:  667.0   3rd Qu.: 99.29   3rd Qu.:100.00
 Max.   :8175057   Max.   :39432.0   Max.   :100.00   Max.   :100.00

###### Load income per capita demographics

In [94]:
income <- read.csv("../Preprocessing/Files/Demographics/acs_2015_inc_percapita_data.csv", 
                  stringsAsFactors = FALSE)

In [95]:
income_cols <- income[c(1:4, 6, 60, 62)]

In [96]:
head(income_cols,6)

  GEO.id           GEO.id2 GEO.display.label
1 Id               Id2     Geography
2 1600000US0100100 100100  Abanda CDP, Alabama
3 1600000US0100124 100124  Abbeville city, Alabama
4 1600000US0100460 100460  Adamsville city, Alabama
5 1600000US0100484 100484  Addison town, Alabama
6 1600000US0100676 100676  Akron town, Alabama
  HC01_EST_VC02
1 Total; Estimate; All households
2 52
3 1056
4 1704
5 317
6 126
  HC02_EST_VC02
1 Mean income (dollars); Estimate; All households
2 14867
3 44246
4 56085
5 44483
6 24006
  HC01_EST_VC20
1 Total; Estimate; PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN - Total population
2 52
3 2646
4 4454
5 682
6 293
  HC02_EST_VC20
1 Mean income (dollars); Estimate; PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN - Total population
2 14867
3 19262
4 22032
5 21389
6 11410

In [ ]:
### Rename columns

In [97]:
colnames(income_cols) <- tolower(income_cols %>% dplyr::slice(1))

In [98]:
income_cols <- income_cols[2:nrow(income_cols), ]

In [99]:
colnames(income_cols)[4:7] <- c("total_population_income_households", 
                                "mean_income_households", 
                                "total_population_individuals", "mean_income_per_capita")

In [100]:
income_cols[ , 4:ncol(income_cols)] <- sapply(income_cols[ , 4:ncol(income_cols)], as.numeric)

Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"

In [101]:
summary(income_cols)

      id                id2             geography
 Length:29321       Length:29321       Length:29321
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character




 total_population_income_households mean_income_households
 Min.   :      0                    Min.   :   713
 1st Qu.:    128                    1st Qu.: 45065
 Median :    416                    Median : 55275
 Mean   :   2975                    Mean   : 63721
 3rd Qu.:   1531                    3rd Qu.: 70891
 Max.   :3113535                    Max.   :987277
                                    NA's   :789
 total_population_individuals mean_income_per_capita
 Min.   :      0              Min.   :   223
 1st Qu.:    331              1st Qu.: 18248
 Median :   1087              Median : 22728
 Mean   :   8043              Mean   : 25609
 3rd Qu.:   4090              3rd Qu.: 28801
 Max.   :8426743              Max.   :381072
                              NA's   :470

In [102]:
income_cols$state <- as.character(trimws(str_split_fixed(income_cols$geography, ",", n = 2)[, 2], 
                                      "both"))

median_state <- income_cols %>% dplyr::select("state", "mean_income", "total_income",
                                              "mean_income_per_capita") %>%
                                    group_by(state) %>%
                                    summarise(med_inc = round(median(mean_income, na.rm = TRUE)),
                                              med_inc_capita_races = 
                                              round(median(mean_income_per_capita, na.rm = TRUE))) %>%
                            ungroup() %>%
                            as.data.frame()

In [11]:
head(income_cols)

  id               id2    geography
2 1600000US0100100 100100 Abanda CDP, Alabama
3 1600000US0100124 100124 Abbeville city, Alabama
4 1600000US0100460 100460 Adamsville city, Alabama
5 1600000US0100484 100484 Addison town, Alabama
6 1600000US0100676 100676 Akron town, Alabama
7 1600000US0100820 100820 Alabaster city, Alabama
  total_population_income_households mean_income_households
2    52                              14867
3  1056                              44246
4  1704                              56085
5   317                              44483
6   126                              24006
7 10556                              80353
  total_population_individuals mean_income_per_capita state
2    52                        14867                  Alabama
3  2646                        19262                  Alabama
4  4454                        22032                  Alabama
5   682                        21389                  Alabama
6   293                        11410                  Alabama
7 31905                        27382                  Alabama

In [ ]:
### Replace missing income with mean and median

In [103]:
income_cols <- income_cols %>% 
               group_by(state, add = FALSE) %>%
               mutate(mean_income_households = ifelse(total_population_income_households == 
                                                      0, 0, 
                                            replace(mean_income_households, 
                                                    is.na(mean_income_households), 
                                           round(mean(mean_income_households, 
                                                      na.rm = TRUE))))) %>%
                mutate(mean_income_per_capita = ifelse(total_population_individuals == 
                                                       0, 0, 
                                                       replace(mean_income_per_capita,
                                                        is.na(mean_income_per_capita), 
                        round(median(mean_income_per_capita, na.rm = TRUE))))) %>%
                as.data.frame()

In [161]:
summary(income_cols)

      id                id2             geography
 Length:29321       Length:29321       Length:29321
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character



 total_population_income_households mean_income_households
 Min.   :      0                    Min.   :     0
 1st Qu.:    128                    1st Qu.: 45040
 Median :    416                    Median : 55260
 Mean   :   2975                    Mean   : 63261
 3rd Qu.:   1531                    3rd Qu.: 70761
 Max.   :3113535                    Max.   :987277
 total_population_individuals mean_income_per_capita    state
 Min.   :      0              Min.   :     0         Length:29321
 1st Qu.:    331              1st Qu.: 18202         Class :character
 Median :   1087              Median : 22671         Mode  :character
 Mean   :   8043              Mean   : 25414
 3rd Qu.:   4090              3rd Qu.: 28666
 Max.   :8426743              Max.   :381072

In [104]:
nrow(income_cols)

[1] 29321

###### Load Household income demographics

In [109]:
house_income <- read.csv("../Preprocessing/Files/Demographics/acs_2015_inc_median_households_data.csv", 
                  stringsAsFactors = FALSE)

In [110]:
house_income_cols <- house_income[c(1:4, 6)]

In [314]:
head(house_income_cols)

  id               id2    geography                total_income median_income
2 1600000US0100100 100100 Abanda CDP, Alabama      52           11207
3 1600000US0100124 100124 Abbeville city, Alabama  1056         25615
4 1600000US0100460 100460 Adamsville city, Alabama 1704         42575
5 1600000US0100484 100484 Addison town, Alabama    317          37083
6 1600000US0100676 100676 Akron town, Alabama      126          21667
7 1600000US0100820 100820 Alabaster city, Alabama  10556        71816

In [ ]:
### Rename columns

In [111]:
colnames(house_income_cols) <- tolower(house_income_cols %>% dplyr::slice(1))

In [112]:
house_income_cols <- house_income_cols[2:nrow(house_income_cols), ]

In [113]:
colnames(house_income_cols)[4:5] <- c("total_income", "median_income")

In [114]:
summary(house_income_cols)

      id                id2             geography         total_income
 Length:29321       Length:29321       Length:29321       Length:29321
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
 median_income
 Length:29321
 Class :character
 Mode  :character

In [116]:
house_income_cols[ , 4:ncol(house_income_cols)] <- 
                    sapply(house_income_cols[ , 4:ncol(house_income_cols)], as.numeric)

In [89]:
summary(house_income_cols)

      id                id2             geography          total_income
 Length:29321       Length:29321       Length:29321       Min.   :      0
 Class :character   Class :character   Class :character   1st Qu.:    128
 Mode  :character   Mode  :character   Mode  :character   Median :    416
                                                          Mean   :   2975
                                                          3rd Qu.:   1531
                                                          Max.   :3113535

 median_income
 Min.   :  4511
 1st Qu.: 35625
 Median : 45305
 Mean   : 51177
 3rd Qu.: 59482
 Max.   :244083
 NA's   :1937

In [117]:
house_income_cols$state <- as.character(trimws(str_split_fixed(house_income_cols$geography, ",", n = 2)[, 2], 
                                      "both"))

In [ ]:
#### Replace missing data with median

In [118]:
house_income_cols <- house_income_cols %>%
                dplyr::rename("house_total_population" = "total_income", 
                              "house_median_income" = "median_income") %>%
                group_by(state, add = FALSE) %>%
                mutate(house_median_income = ifelse(house_total_population == 0, 0, 
                                            replace(house_median_income, 
                                                    is.na(house_median_income), 
                                           round(median(house_median_income, na.rm = TRUE))))) %>%
             #   mutate(mean_income_per_capita = ifelse(total_income == 0, 0, 
                                                     #  replace(mean_income_per_capita,
                                                     #   is.na(mean_income_per_capita), 
                       # round(median(mean_income_per_capita, na.rm = TRUE))))) %>%
                as.data.frame()

In [162]:
summary(house_income_cols)

      id                id2             geography
 Length:29321       Length:29321       Length:29321
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character



 house_total_population house_median_income    state
 Min.   :      0        Min.   :     0      Length:29321
 1st Qu.:    128        1st Qu.: 35898      Class :character
 Median :    416        Median : 44874      Mode  :character
 Mean   :   2975        Mean   : 50487
 3rd Qu.:   1531        3rd Qu.: 58125
 Max.   :3113535        Max.   :244083

###### Load race data

In [119]:
race <- read.csv("../Preprocessing/Files/Demographics/acs_2015_race_data.csv", 
                  stringsAsFactors = FALSE)

In [120]:
race_cols <- race[c(1:4, 6,8)]

In [121]:
head(race_cols,3)

  GEO.id           GEO.id2 GEO.display.label       HD01_VD01
1 Id               Id2     Geography               Estimate; Total:
2 1600000US0100100 100100  Abanda CDP, Alabama     52
3 1600000US0100124 100124  Abbeville city, Alabama 2646
  HD01_VD02
1 Estimate; Total: - White alone
2 40
3 1396
  HD01_VD03
1 Estimate; Total: - Black or African American alone
2 12
3 1227

In [122]:
colnames(race_cols) <- tolower(race_cols %>% dplyr::slice(1))

In [123]:
race_cols <- race_cols[2:nrow(race_cols), ]

In [124]:
colnames(race_cols)[4:6] <- c("total_population", "white_population", "black_population")

In [125]:
summary(race_cols)

      id                id2             geography         total_population
 Length:29321       Length:29321       Length:29321       Length:29321
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
 white_population   black_population
 Length:29321       Length:29321
 Class :character   Class :character
 Mode  :character   Mode  :character

In [126]:
race_cols[ , 4:ncol(race_cols)] <- sapply(race_cols[ , 4:ncol(race_cols)], as.numeric)

In [127]:
summary(race_cols)

      id                id2             geography         total_population
 Length:29321       Length:29321       Length:29321       Min.   :      0
 Class :character   Class :character   Class :character   1st Qu.:    331
 Mode  :character   Mode  :character   Mode  :character   Median :   1087
                                                          Mean   :   8043
                                                          3rd Qu.:   4090
                                                          Max.   :8426743
 white_population  black_population
 Min.   :      0   Min.   :      0
 1st Qu.:    265   1st Qu.:      0
 Median :    901   Median :      7
 Mean   :   5613   Mean   :   1135
 3rd Qu.:   3263   3rd Qu.:    157
 Max.   :3648214   Max.   :2065597

In [ ]:
### Get state

In [128]:
race_cols$state <- as.character(trimws(str_split_fixed(race_cols$geography, ",", n = 2)[, 2], 
                                      "both"))

In [129]:
race_cols <- race_cols %>% dplyr::rename("total_population_race" = "total_population") %>%
                mutate(per_white = ifelse(total_population_race == 0, 
                                          0, round(white_population/total_population_race * 100, 2))) %>%
                mutate(per_black = ifelse(total_population_race == 0, 
                                          0, round(black_population/total_population_race * 100, 2))) %>%
                as.data.frame()

In [366]:
summary(race_cols)

      id                id2             geography         total_population
 Length:29321       Length:29321       Length:29321       Min.   :      0
 Class :character   Class :character   Class :character   1st Qu.:    331
 Mode  :character   Mode  :character   Mode  :character   Median :   1087
                                                          Mean   :   8043
                                                          3rd Qu.:   4090
                                                          Max.   :8426743
 white_population  black_population     state             per_white
 Min.   :      0   Min.   :      0   Length:29321       Min.   :  0.00
 1st Qu.:    265   1st Qu.:      0   Class :character   1st Qu.: 79.05
 Median :    901   Median :      7   Mode  :character   Median : 92.69
 Mean   :   5613   Mean   :   1135                      Mean   : 83.31
 3rd Qu.:   3263   3rd Qu.:    157                      3rd Qu.: 97.71
 Max.   :3648214   Max.   :2065597                      Max.   :100.00
   per_black
 Min.   :  0.00
 1st Qu.:  0.00
 Median :  0.57
 Mean   :  6.94
 3rd Qu.:  4.65
 Max.   :100.00

###### Load employment demographics

In [132]:
employ <- read.csv("../Preprocessing/Files/Demographics/acs_2015_emp_data.csv", 
                  stringsAsFactors = FALSE)

In [133]:
emp_cols <- employ[c(1:3, 6,10,12)]

In [386]:
head(emp_cols,3)

  GEO.id           GEO.id2 GEO.display.label
1 Id               Id2     Geography
2 1600000US0100124 100124  Abbeville city, Alabama
3 1600000US0100460 100460  Adamsville city, Alabama
  HC01_VC03
1 Estimate; EMPLOYMENT STATUS - Population 16 years and over
2 2211
3 3668
  HC01_VC04
1 Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force
2 815
3 2170
  HC03_VC04
1 Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force
2 36.9
3 59.2

In [ ]:
### Rename columns

In [134]:
colnames(emp_cols) <- tolower(emp_cols %>% dplyr::slice(1))

In [135]:
emp_cols <- emp_cols[2:nrow(emp_cols), ]

In [136]:
colnames(emp_cols)[4:6] <- c("total_pop_over16", "employ_pop_over16", "per_employ_over16")

In [137]:
summary(emp_cols)

      id                id2             geography         total_pop_over16
 Length:24256       Length:24256       Length:24256       Length:24256
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
 employ_pop_over16  per_employ_over16
 Length:24256       Length:24256
 Class :character   Class :character
 Mode  :character   Mode  :character

In [138]:
emp_cols[ , 4:ncol(emp_cols)] <- sapply(emp_cols[ , 4:ncol(emp_cols)], as.numeric)

In [139]:
summary(emp_cols)

      id                id2             geography         total_pop_over16
 Length:24256       Length:24256       Length:24256       Min.   :     42
 Class :character   Class :character   Class :character   1st Qu.:    461
 Mode  :character   Mode  :character   Mode  :character   Median :   1305
                                                          Mean   :   7657
                                                          3rd Qu.:   4359
                                                          Max.   :6829065
 employ_pop_over16 per_employ_over16
 Min.   :     18   Min.   : 3.80
 1st Qu.:    265   1st Qu.:54.90
 Median :    772   Median :61.90
 Mean   :   4928   Mean   :60.73
 3rd Qu.:   2672   3rd Qu.:67.70
 Max.   :4343671   Max.   :98.50

In [140]:
emp_cols$state <- as.character(trimws(str_split_fixed(emp_cols$geography, ",", n = 2)[, 2], 
                                      "both"))

In [395]:
summary(emp_cols)

      id                id2             geography         total_pop_over16
 Length:24256       Length:24256       Length:24256       Min.   :     42
 Class :character   Class :character   Class :character   1st Qu.:    461
 Mode  :character   Mode  :character   Mode  :character   Median :   1305
                                                          Mean   :   7657
                                                          3rd Qu.:   4359
                                                          Max.   :6829065
 employ_pop_over16 per_emply_over16    state
 Min.   :     18   Min.   : 3.80    Length:24256
 1st Qu.:    265   1st Qu.:54.90    Class :character
 Median :    772   Median :61.90    Mode  :character
 Mean   :   4928   Mean   :60.73
 3rd Qu.:   2672   3rd Qu.:67.70
 Max.   :4343671   Max.   :98.50

###### Load language data

In [141]:
lang <- read.csv("../Preprocessing/Files/Demographics/acs_2015_lang_data.csv", 
                  stringsAsFactors = FALSE)

In [142]:
lang_cols <- lang[c(1:4, 16,18, 28, 30)]

In [143]:
head(lang_cols,3)

  GEO.id           GEO.id2 GEO.display.label
1 Id               Id2     Geography
2 1600000US0100100 100100  Abanda CDP, Alabama
3 1600000US0100124 100124  Abbeville city, Alabama
  HC01_EST_VC01
1 Total; Estimate; Population 5 years and over
2 52
3 2578
  HC01_EST_VC02                       HC02_EST_VC02
1 Total; Estimate; Speak only English Percent; Estimate; Speak only English
2 52                                  100
3 2530                                98.1
  HC01_EST_VC03
1 Total; Estimate; Speak a language other than English
2 0
3 48
  HC02_EST_VC03
1 Percent; Estimate; Speak a language other than English
2 0
3 1.9

In [ ]:
### Rename columns

In [144]:
colnames(lang_cols) <- tolower(lang_cols %>% dplyr::slice(1))

In [145]:
lang_cols <- lang_cols[2:nrow(lang_cols), ]

In [146]:
colnames(lang_cols)[4:8] <- c("total_population", "english_only", "per_english_only", 
                              "english_other", "per_english_other")

In [147]:
summary(lang_cols)

      id                id2             geography         total_population
 Length:29321       Length:29321       Length:29321       Length:29321
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
 english_only       per_english_only   english_other      per_english_other
 Length:29321       Length:29321       Length:29321       Length:29321
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character

In [148]:
lang_cols[ , 4:ncol(lang_cols)] <- sapply(lang_cols[ , 4:ncol(lang_cols)], as.numeric)

Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"Warning message in lapply(X = X, FUN = FUN, ...):
"NAs introduced by coercion"

In [149]:
summary(lang_cols)

      id                id2             geography         total_population
 Length:29321       Length:29321       Length:29321       Min.   :      0
 Class :character   Class :character   Class :character   1st Qu.:    311
 Mode  :character   Mode  :character   Mode  :character   Median :   1021
                                                          Mean   :   7514
                                                          3rd Qu.:   3837
                                                          Max.   :7870932

  english_only     per_english_only english_other     per_english_other
 Min.   :      0   Min.   :  0.00   Min.   :      0   Min.   :  0.00
 1st Qu.:    276   1st Qu.: 87.80   1st Qu.:      5   1st Qu.:  1.20
 Median :    912   Median : 95.80   Median :     43   Median :  4.20
 Mean   :   5664   Mean   : 88.96   Mean   :   1851   Mean   : 11.04
 3rd Qu.:   3293   3rd Qu.: 98.80   3rd Qu.:    342   3rd Qu.: 12.20
 Max.   :4009822   Max.   :100.00   Max.   :3861110   Max.   :100.00
                   NA's   :193                        NA's   :193

In [151]:
lang_cols$state <- as.character(trimws(str_split_fixed(lang_cols$geography, ",", n = 2)[, 2], 
                                      "both"))

In [152]:
lang_cols <- lang_cols %>% dplyr::rename("total_population_lang" = "total_population") %>%
                mutate(per_english_only = ifelse(total_population_lang == 0, 
                                          0, per_english_only)) %>%
                mutate(per_english_other = ifelse(total_population_lang == 0, 
                                          0, per_english_other)) %>%
                as.data.frame()

In [153]:
summary(lang_cols)

      id                id2             geography         total_population_lang
 Length:29321       Length:29321       Length:29321       Min.   :      0
 Class :character   Class :character   Class :character   1st Qu.:    311
 Mode  :character   Mode  :character   Mode  :character   Median :   1021
                                                          Mean   :   7514
                                                          3rd Qu.:   3837
                                                          Max.   :7870932
  english_only     per_english_only english_other     per_english_other
 Min.   :      0   Min.   :  0.00   Min.   :      0   Min.   :  0.00
 1st Qu.:    276   1st Qu.: 87.50   1st Qu.:      5   1st Qu.:  1.20
 Median :    912   Median : 95.70   Median :     43   Median :  4.20
 Mean   :   5664   Mean   : 88.38   Mean   :   1851   Mean   : 10.97
 3rd Qu.:   3293   3rd Qu.: 98.70   3rd Qu.:    342   3rd Qu.: 12.20
 Max.   :4009822   Max.   :100.00   Max.   :3861110   Max.   :100.00
    state
 Length:29321
 Class :character
 Mode  :character

###### Rename key variables before joining

In [156]:
#urban_cols2 <- urban_cols2 %>% dplyr::rename("total_area" = "total")
#house_income_cols <- house_income_cols %>% dplyr::rename("house_total_income" = "total_income", 
                                                #         "house_median_income" = "median_income")

Warning message:
"'glue::collapse' is deprecated.
Use 'glue_collapse' instead.
See help("Deprecated") and help("glue-deprecated")."

ERROR: Error: Unknown columns `total_income` and `median_income`

In [163]:
demo_cols <- age_cols2 %>% left_join(urban_cols2[c("id", "total_area", "urban", "rural", 
                                                   "per_urban",
                                                  "per_rural")], 
                                                  by = "id") %>%
                            left_join(income_cols[c("id",# "total_income", "mean_income", 
                                                #  "income_per_capita", 
                                                   "mean_income_households", 
                                                    "mean_income_per_capita")],
                                      by = "id") %>%
                            left_join(house_income_cols[c("id", "house_total_population", 
                                                        #  "house_total_income", 
                                                          "house_median_income")], 
                                      by = "id") %>%
                            left_join(race_cols[c("id", "total_population_race", 
                                                  "white_population", 
                                                 "black_population", "per_white", 
                                                  "per_black")], by = "id") %>%
                            left_join(emp_cols[c("id", "total_pop_over16", 
                                                 "employ_pop_over16", 
                                                 "per_employ_over16")], by = "id") %>%
                             left_join(lang_cols[c("id", "total_population_lang", 
                                                   "english_only", 
                                                 "english_other", "per_english_only", 
                                                   "per_english_other")], by = "id") %>%
                            
                            as.data.frame()

write.csv(demo_cols, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Demographic\\Place\\acs_demo_cols.csv")

Join demographics for cities to US city, state info. 
Creates a features table to use for any knn or variable importance model etc.

In [189]:
usstates_place <- read.csv("../Preprocessing/Files/Demographics/usstates_placetype.csv", 
                  stringsAsFactors = FALSE)

In [194]:
usstates_place$X <- NULL
usstates_place$X.1 <- NULL

In [170]:
demo_cols_csv <- read.csv("../Preprocessing/Files/Demographics/acs_demo_cols.csv", stringsAsFactors = FALSE)

In [195]:
colnames(demo_cols_csv)

'data.frame':	29321 obs. of  36 variables:
 $ rownum                            : chr  "1600000US0100100" "1600000US0100124" "1600000US0100460" "1600000US0100484" ...
 $ id2                               : int  100100 100124 100460 100484 100676 100820 100988 101132 101180 101228 ...
 $ geography                         : chr  "Abanda CDP, Alabama" "Abbeville city, Alabama" "Adamsville city, Alabama" "Addison town, Alabama" ...
 $ totalpopulation                   : int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ malepop                           : int  11 1292 2269 331 143 15590 10777 6834 1774 1875 ...
 $ femalepop                         : int  41 1354 2185 351 150 16315 10629 7953 2138 1852 ...
 $ medianage                         : num  60.5 52.5 39.6 42.5 43.6 36.6 33.6 37.9 39.9 30.8 ...
 $ per_male                          : num  21.1 48.8 50.9 48.5 48.8 ...
 $ per_female                        : num  78.8 51.2 49.1 51.5 51.2 ...
 $ total_area                        : int  192 2688 4522 758 356 30352 21160 14875 3917 2486 ...
 $ urban                             : int  0 0 3857 0 0 29161 18710 9149 1054 0 ...
 $ rural                             : int  192 2688 665 758 356 1191 2450 5726 2863 2486 ...
 $ per_urban                         : num  0 0 85.3 0 0 ...
 $ per_rural                         : num  100 100 14.7 100 100 ...
 $ house_total_population            : int  52 1056 1704 317 126 10556 7307 5759 1464 1283 ...
 $ mean_income_per_capita            : num  14867 19262 22032 21389 11410 ...
 $ house_total_income                : int  52 1056 1704 317 126 10556 7307 5759 1464 1283 ...
 $ house_median_income               : num  11207 25615 42575 37083 21667 ...
 $ total_population_race             : int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ white_population                  : int  40 1396 2121 641 59 23864 19421 8498 3642 573 ...
 $ black_population                  : int  12 1227 1927 0 234 4587 468 5818 270 3071 ...
 $ per_white                         : num  76.9 52.8 47.6 94 20.1 ...
 $ per_black                         : num  23.1 46.4 43.3 0 79.9 ...
 $ total_pop_over16                  : int  NA 2211 3668 559 260 24071 15703 11311 3018 2851 ...
 $ employ_pop_over16                 : int  NA 815 2170 267 112 16607 9289 5874 1994 1376 ...
 $ per_employ_over16                 : num  NA 36.9 59.2 47.8 43.1 69 59.2 51.9 66.1 48.3 ...
 $ total_population_lang             : int  52 2578 4294 657 276 29962 19791 13839 3681 3421 ...
 $ english_only                      : int  52 2530 3767 654 276 26569 15223 13317 3649 3365 ...
 $ english_other                     : int  0 48 527 3 0 3393 4568 522 32 56 ...
 $ per_english_only                  : num  100 98.1 87.7 99.5 100 88.7 76.9 96.2 99.1 98.4 ...
 $ per_english_other                 : num  0 1.9 12.3 0.5 0 11.3 23.1 3.8 0.9 1.6 ...
 $ total_population_income_households: num  52 1056 1704 317 126 ...
 $ mean_income_households            : num  14867 44246 56085 44483 24006 ...
 $ total_population_individuals      : num  52 2646 4454 682 293 ...
 $ state                             : chr  "Alabama" "Alabama" "Alabama" "Alabama" ...
 $ city                              : chr  "Abanda CDP" "Abbeville city" "Adamsville city" "Addison town" ...

In [174]:
demo_cols_csv$X <- NULL
demo_cols_csv$income_per_capita <- NULL
demo_cols_csv$mean_income <- NULL

In [ ]:
#### Fix a few problems/discrepancies with the files and data

In [176]:
demo_cols_csv$total_population_income_households <- income_cols$total_population_income_households
demo_cols_csv$mean_income_households <- income_cols$mean_income_households
demo_cols_csv$total_population_individuals <- income_cols$total_population_individuals
demo_cols_csv$mean_income_per_capita <- income_cols$mean_income_per_capita
demo_cols_csv$house_median_income <- house_income_cols$house_median_income

demo_cols_csv <- demo_cols_csv %>% dplyr::rename("house_total_population" = "total_income")

In [190]:
usstates_place <- usstates_place %>% mutate(City3 = gsub("St.", "St", City2), 
                                            City_state = gsub("St.", "St", City_state),
                                            City_code = gsub("St.", "St", City_code)) %>% 
                as.data.frame()

In [177]:
demo_cols_csv$state <- str_split_fixed(demo_cols_csv$geography, ", ", n = 2)[, 2]
demo_cols_csv$city <- str_split_fixed(demo_cols_csv$geography, ", ", n = 2)[, 1]

write.csv(demo_cols_csv, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Demographics\\acs_demo_cols2.csv", row.names = FALSE)

write.csv(usstates_place, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Demographics\\usstates_placetype.csv")

In [191]:
str(usstates_place)

'data.frame':	81542 obs. of  29 variables:
 $ X                : int  1 2 3 4 5 6 7 8 9 10 ...
 $ X.1              : int  1 2 3 4 5 6 7 8 9 10 ...
 $ rownum           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Code             : chr  "AK" "AK" "AK" "AK" ...
 $ State            : chr  "Alaska" "Alaska" "Alaska" "Alaska" ...
 $ Sumlev           : int  40 162 162 162 162 162 162 162 162 162 ...
 $ State_id         : int  2 2 2 2 2 2 2 2 2 2 ...
 $ County           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Place            : int  0 65 650 870 1090 1200 1420 1860 1970 2080 ...
 $ Cousub           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Concit           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Primgeo_flag     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Funcstat         : chr  "A" "A" "A" "A" ...
 $ City             : chr  "Alaska" "Adak city" "Akhiok city" "Akiak city" ...
 $ Census2010pop    : int  710231 326 71 346 1027 677 219 105 258 324 ...
 $ Estimatesbase2010: int  710249 326 71 346 1027 677 220 171 258 324 ...
 $ Popestimate2010  : int  714015 326 71 347 1029 678 220 172 259 326 ...
 $ Popestimate2011  : int  722259 327 72 353 1034 720 224 172 264 331 ...
 $ Popestimate2012  : int  730825 330 73 378 1037 729 225 171 264 337 ...
 $ Popestimate2013  : int  736760 332 73 381 1039 742 226 169 264 341 ...
 $ Popestimate2014  : int  736759 335 72 383 1038 754 225 166 266 341 ...
 $ Popestimate2015  : int  737979 334 70 382 1041 768 225 165 266 340 ...
 $ Popestimate2016  : int  741522 332 70 382 1040 758 223 167 263 338 ...
 $ Popestimate2017  : int  739795 331 71 391 1042 762 221 165 263 341 ...
 $ City2            : chr  "Alaska" "Adak" "Akhiok" "Akiak" ...
 $ Place_type       : chr  "state" "city" "city" "city" ...
 $ City_state       : chr  "Alaska, Alaska" "Adak, Alaska" "Akhiok, Alaska" "Akiak, Alaska" ...
 $ City_code        : chr  "Alaska, AK" "Adak, AK" "Akhiok, AK" "Akiak, AK" ...
 $ City3            : chr  "Alaska" "Adak" "Akhiok" "Akiak" ...

usstates_place <- usstates_place %>% dplyr::rename("rownum" = "X") %>% as.data.frame()
colnames(demo_cols_csv)[1] <- "rownum"

In [ ]:
### Get unique census population for geographically close locations with the same name

In [196]:
usstates_place2 <- usstates_place %>% group_by(Code, State, State_id, City, City2, City3, Place_type, City_state, City_code) %>%
                                                summarise(avgCensus2010pop = mean(Census2010pop),
                                                            avgPopestimate2015 = mean(Popestimate2015)) %>%
                                        as.data.frame()

In [197]:
usstates_place_unq <- unique(usstates_place2[c("Code", "State", "State_id", "City", 
                              "City2", "City3", "Place_type", "City_state", "City_code", 
                                               "avgCensus2010pop", "avgPopestimate2015")])

In [19]:
str(demo_cols_csv)

'data.frame':	29321 obs. of  34 variables:
 $ rownum                : int  1 2 3 4 5 6 7 8 9 10 ...
 $ id                    : chr  "1600000US0100100" "1600000US0100124" "1600000US0100460" "1600000US0100484" ...
 $ id2                   : int  100100 100124 100460 100484 100676 100820 100988 101132 101180 101228 ...
 $ geography             : chr  "Abanda CDP, Alabama" "Abbeville city, Alabama" "Adamsville city, Alabama" "Addison town, Alabama" ...
 $ totalpopulation       : int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ malepop               : int  11 1292 2269 331 143 15590 10777 6834 1774 1875 ...
 $ femalepop             : int  41 1354 2185 351 150 16315 10629 7953 2138 1852 ...
 $ medianage             : num  60.5 52.5 39.6 42.5 43.6 36.6 33.6 37.9 39.9 30.8 ...
 $ per_male              : num  21.1 48.8 50.9 48.5 48.8 ...
 $ per_female            : num  78.8 51.2 49.1 51.5 51.2 ...
 $ total_area            : int  192 2688 4522 758 356 30352 21160 14875 3917 2486 ...
 $ urban                 : int  0 0 3857 0 0 29161 18710 9149 1054 0 ...
 $ rural                 : int  192 2688 665 758 356 1191 2450 5726 2863 2486 ...
 $ per_urban             : num  0 0 85.3 0 0 ...
 $ per_rural             : num  100 100 14.7 100 100 ...
 $ total_income          : int  52 1056 1704 317 126 10556 7307 5759 1464 1283 ...
 $ mean_income           : int  14867 44246 56085 44483 24006 80353 50562 42199 65220 28630 ...
 $ income_per_capita     : int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ mean_income_per_capita: int  14867 19262 22032 21389 11410 27382 18668 17064 25125 10923 ...
 $ house_total_income    : int  52 1056 1704 317 126 10556 7307 5759 1464 1283 ...
 $ house_median_income   : num  11207 25615 42575 37083 21667 ...
 $ total_population_race : int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ white_population      : int  40 1396 2121 641 59 23864 19421 8498 3642 573 ...
 $ black_population      : int  12 1227 1927 0 234 4587 468 5818 270 3071 ...
 $ per_white             : num  76.9 52.8 47.6 94 20.1 ...
 $ per_black             : num  23.1 46.4 43.3 0 79.9 ...
 $ total_pop_over16      : int  NA 2211 3668 559 260 24071 15703 11311 3018 2851 ...
 $ employ_pop_over16     : int  NA 815 2170 267 112 16607 9289 5874 1994 1376 ...
 $ per_employ_over16     : num  NA 36.9 59.2 47.8 43.1 69 59.2 51.9 66.1 48.3 ...
 $ total_population_lang : int  52 2578 4294 657 276 29962 19791 13839 3681 3421 ...
 $ english_only          : int  52 2530 3767 654 276 26569 15223 13317 3649 3365 ...
 $ english_other         : int  0 48 527 3 0 3393 4568 522 32 56 ...
 $ per_english_only      : num  100 98.1 87.7 99.5 100 88.7 76.9 96.2 99.1 98.4 ...
 $ per_english_other     : num  0 1.9 12.3 0.5 0 11.3 23.1 3.8 0.9 1.6 ...

In [ ]:
### Add the additional demographic data to these USA cities

In [198]:
usplace_demo <- usstates_place_unq %>% # filter(County != 0  & Place != 0) %>%
                                    
                                    inner_join(demo_cols_csv, 
                                               by = c("City" = "city", "State" = "state")) %>% 
                                    as.data.frame()

In [35]:
nrow(usplace_demo)

Length  Class   Mode
     0   NULL   NULL

write.csv(usplace_demo, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Demographics\\usplace_demo.csv")

usplace_demo <- read.csv("C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Demographics\\usplace_demo.csv", stringsAsFactors = FALSE)

In [222]:
str(tweets_latlon)

'data.frame':	5641 obs. of  5 variables:
 $ X         : int  1 2 3 4 5 6 7 8 9 10 ...
 $ City_code : chr  "ABBEVILLE SC" "ABERDEEN MD" "ABERDEEN NC" "ABERDEEN SD" ...
 $ lon       : num  -82.4 -76.2 -79.4 -98.5 -123.8 ...
 $ lat       : num  34.2 39.5 35.1 45.5 47 ...
 $ num_tweets: int  2 5 2 21 46 1 42 133 1 2 ...

In [ ]:
### Total number of tweets for each location

In [186]:
tweets_latlon <- read.csv("../Preprocessing/Files/Features/tweets_latlon.csv", 
                          stringsAsFactors = FALSE)

In [180]:
tweets_latlon$X <- NULL
usplace_demo$X <- NULL

ERROR: Error in usplace_demo$X <- NULL: object 'usplace_demo' not found

In [199]:
usplace_demo$City_code_cap <- gsub(",", "", toupper(usplace_demo$City_code))

In [ ]:
##### Create a dataframe for all demographic information and tweet counts

In [227]:
features <- usplace_demo %>% inner_join(tweets_latlon, 
                                        by = c("City_code_cap" = "City_code")) %>%
                                 dplyr::rename("location" = "City_code_cap", 
                                               "count" = "num_tweets") %>%
                                 mutate(count_rate = count/totalpopulation * 1000) %>%
                                 as.data.frame()

In [228]:
features$total_area <- ifelse(is.na(features$total_area), 
                              features$totalpopulation, features$total_area)
features$total_pop_over16 <- ifelse(is.na(features$total_pop_over16), 
                              features$totalpopulation, features$total_pop_over16)

In [229]:
avg_per_na <- features %>% group_by(State, add = FALSE) %>%
                                    summarise(med_per_urban = median(per_urban, na.rm = TRUE),
                                                 med_per_rural = median(per_rural, na.rm = TRUE),
                                                    med_per_employ_over16 = 
                                              median(per_employ_over16, na.rm = TRUE)
                                             ) %>%
                            as.data.frame()

In [230]:
features <- features %>% inner_join(avg_per_na, by = "State") %>%
                        mutate(per_urban = ifelse(is.na(per_urban), 
                                           med_per_urban, per_urban)) %>%
                        mutate(per_rural = ifelse(is.na(per_rural), 
                                           med_per_rural, per_rural)) %>%
                        mutate(per_employ_over16 = ifelse(is.na(per_employ_over16), 
                                           med_per_employ_over16, per_employ_over16)) %>%
                        as.data.frame()

In [ ]:
### Add US county information

In [208]:
cities_latlon <- read.csv("../Preprocessing/Files\\Maps\\cities_latlon.csv", stringsAsFactors = FALSE)
cities_latlon$X <- NULL

In [210]:
cities_latlon$location <- paste0(cities_latlon$city, " ",cities_latlon$state)

In [209]:
head(cities_latlon)

  lon       lat      city     state mapid area perimeter
1 -123.8181 46.97494 ABERDEEN WA    1     0    0
2 -122.2078 48.71663 ACME     WA    2     0    0
3 -117.8391 48.35600 ADDY     WA    3     0    0
4 -122.3628 47.33079 ADELAIDE WA    4     0    0
5 -123.0638 46.62849 ADNA     WA    5     0    0
6 -118.9817 48.54705 AENEAS   WA    6     0    0
  feature                     name     fips  fips55 pop   state_fips
1 Population 10,000 to 49,999 Aberdeen 53027 100    16565 53
2 Population less than 10,000 Acme     53073 275        0 53
3 Population less than 10,000 Addy     53065 380        0 53
4 Population less than 10,000 Adelaide 53033 415        0 53
5 Population less than 10,000 Adna     53041 590        0 53
6 Population less than 10,000 Aeneas   53047 660        0 53
  county              location
1 Grays Harbor County ABERDEEN WA
2 Whatcom County      ACME WA
3 Stevens County      ADDY WA
4 King County         ADELAIDE WA
5 Lewis County        ADNA WA
6 Okanogan County     AENEAS WA

In [211]:
subset(cities_latlon, is.na(county))

      lon       lat      city               state mapid area perimeter
23666 -82.05981 32.39755 METTER             GA    23666 0    0
24044 -80.12637 25.89233 BAL HARBOUR        FL    24044 0    0
24051 -80.13057 25.88832 BAY HARBOR ISLANDS FL    24051 0    0
24068 -80.18004 25.88322 BISCAYNE PARK      FL    24068 0    0
24100 -80.23669 25.92143 BUNCHE PARK        FL    24100 0    0
24117 -80.24540 25.94121 CAROL CITY         FL    24117 0    0
24148 -80.26780 25.72242 CORAL GABLES       FL    24148 0    0
24163 -80.34642 25.58155 CUTLER RIDGE       FL    24163 0    0
24201 -80.19279 25.85590 EL PORTAL          FL    24201 0    0
24230 -80.47894 25.44846 FLORIDA CITY       FL    24230 0    0
24260 -80.12158 25.96580 GOLDEN BEACH       FL    24260 0    0
24265 -80.38172 25.56333 GOULDS             FL    24265 0    0
24295 -80.27757 25.85853 HIALEAH            FL    24295 0    0
24296 -80.32399 25.86576 HIALEAH GARDENS    FL    24296 0    0
24316 -80.47710 25.46927 HOMESTEAD          FL    24316 0    0
24355 -80.31673 25.68016 KENDALL            FL    24355 0    0
24357 -80.16218 25.69443 KEY BISCAYNE       FL    24357 0    0
24412 -80.30091 25.73427 LUDLAM             FL    24412 0    0
24445 -80.32603 25.84128 MEDLEY             FL    24445 0    0
24450 -80.19329 25.77484 MIAMI              FL    24450 0    0
24451 -80.12982 25.79147 MIAMI BEACH        FL    24451 0    0
24452 -80.19244 25.86376 MIAMI SHORES       FL    24452 0    0
24453 -80.28912 25.82328 MIAMI SPRINGS      FL    24453 0    0
24476 -80.42258 25.51886 NARANJA            FL    24476 0    0
24491 -80.21184 25.94970 NORLAND            FL    24491 0    0
24492 -80.15349 25.84702 NORTH BAY VILLAGE  FL    24492 0    0
24494 -80.18624 25.89086 NORTH MIAMI        FL    24494 0    0
24495 -80.16224 25.93398 NORTH MIAMI BEACH  FL    24495 0    0
24508 -80.15000 25.94926 OJUS               FL    24508 0    0
24516 -80.25005 25.90293 OPA-LOCKA          FL    24516 0    0
24553 -80.37751 25.89591 PENNSUCO           FL    24553 0    0
24555 -80.35342 25.60591 PERRINE            FL    24555 0    0
24596 -80.36835 25.63240 RICHMOND HEIGHTS   FL    24596 0    0
24653 -80.29297 25.70850 SOUTH MIAMI        FL    24653 0    0
24672 -80.12385 25.92606 SUNNY ISLES        FL    24672 0    0
24674 -80.12493 25.87931 SURFSIDE           FL    24674 0    0
24677 -80.37244 25.76416 SWEETWATER         FL    24677 0    0
24713 -80.30167 25.81122 VIRGINIA GARDENS   FL    24713 0    0
24737 -80.29563 25.76421 WEST MIAMI         FL    24737 0    0
24741 -80.37223 25.73265 WESTWOOD LAKE      FL    24741 0    0
28703 -77.01257 38.88912 WASHINGTON D.C.    DC    28703 0    0
      feature                                         name               fips
23666 Population less than 10,000  County Seat        Metter             13041
24044 Population less than 10,000                     Bal Harbour        12025
24051 Population less than 10,000                     Bay Harbor Islands 12025
24068 Population less than 10,000                     Biscayne Park      12025
24100 Population less than 10,000                     Bunche Park        12025
24117 Population less than 10,000                     Carol City         12025
24148 Population 10,000 to 49,999                     Coral Gables       12025
24163 Population 10,000 to 49,999                     Cutler Ridge       12025
24201 Population less than 10,000                     El Portal          12025
24230 Population less than 10,000                     Florida City       12025
24260 Population less than 10,000                     Golden Beach       12025
24265 Population less than 10,000                     Goulds             12025
24295 Population 100,000 to 249,999                   Hialeah            12025
24296 Population less than 10,000                     Hialeah Gardens    12025
24316 Population 10,000 to 49,999                     Homestead          12025
24355 Population 50,000 to 99,999                     Kendall            12025
24357 Population less than 10,000                     Key Biscayne       12025
24412 Population less than 10,000                     Ludlam             12025
24445 Population less than 10,000                     Medley             12025
24450 Population 250,000 to 499,999  County Seat      Miami              12025
24451 Population 50,000 to 99,999                     Miami Beach        12025
24452 Population 10,000 to 49,999                     Miami Shores       12025
24453 Population 10,000 to 49,999                     Miami Springs      12025
24476 Population less than 10,000                     Naranja            12025
24491 Population 10,000 to 49,999                     Norland            12025
24492 Population less than 10,000                     North Bay Village  12025
24494 Population 10,000 to 49,999                     North Miami        12025
24495 Population 10,000 to 49,999                     North Miami Beach  12025
24508 Population 10,000 to 49,999                     Ojus               12025
24516 Population 10,000 to 49,999                     Opa-locka          12025
24553 Population less than 10,000                     Pennsuco           12025
24555 Population 10,000 to 49,999                     Perrine            12025
24596 Population less than 10,000                     Richmond Heights   12025
24653 Population 10,000 to 49,999                     South Miami        12025
24672 Population 10,000 to 49,999                     Sunny Isles        12025
24674 Population less than 10,000                     Surfside           12025
24677 Population 10,000 to 49,999                     Sweetwater         12025
24713 Population less than 10,000                     Virginia Gardens   12025
24737 Population less than 10,000                     West Miami         12025
24741 Population 10,000 to 49,999                     Westwood Lake      12025
28703 Population 500,000 to 999,999  National Capital Washington D.C.    11001
      fips55 pop    state_fips county location
23666 51072    3707 13         NA     METTER GA
24044  3275    3045 12         NA     BAL HARBOUR FL
24051  3975    4703 12         NA     BAY HARBOR ISLANDS FL
24068  6600    3068 12         NA     BISCAYNE PARK FL
24100  9500    4388 12         NA     BUNCHE PARK FL
24117 10650       0 12         NA     CAROL CITY FL
24148 14250   40091 12         NA     CORAL GABLES FL
24163 15975   21268 12         NA     CUTLER RIDGE FL
24201 20650    2457 12         NA     EL PORTAL FL
24230 22975    5806 12         NA     FLORIDA CITY FL
24260 26250     774 12         NA     GOLDEN BEACH FL
24265 26950    7284 12         NA     GOULDS FL
24295 30000  188004 12         NA     HIALEAH FL
24296 30025    7713 12         NA     HIALEAH GARDENS FL
24316 32275   26866 12         NA     HOMESTEAD FL
24355 36100   87271 12         NA     KENDALL FL
24357 36300    8854 12         NA     KEY BISCAYNE FL
24412 41625       0 12         NA     LUDLAM FL
24445 43900     663 12         NA     MEDLEY FL
24450 45000  358548 12         NA     MIAMI FL
24451 45025   92639 12         NA     MIAMI BEACH FL
24452 45175   10084 12         NA     MIAMI SHORES FL
24453 45200   13268 12         NA     MIAMI SPRINGS FL
24476 47700    5790 12         NA     NARANJA FL
24491 49000   22109 12         NA     NORLAND FL
24492 49225    5383 12         NA     NORTH BAY VILLAGE FL
24494 49450   49998 12         NA     NORTH MIAMI FL
24495 49475   35359 12         NA     NORTH MIAMI BEACH FL
24508 51125   15519 12         NA     OJUS FL
24516 51650   15283 12         NA     OPA-LOCKA FL
24553 55900       0 12         NA     PENNSUCO FL
24555 56125   15576 12         NA     PERRINE FL
24596 60225    8583 12         NA     RICHMOND HEIGHTS FL
24653 67550   10404 12         NA     SOUTH MIAMI FL
24672 69550   11772 12         NA     SUNNY ISLES FL
24674 70075    4108 12         NA     SURFSIDE FL
24677 70275   13909 12         NA     SWEETWATER FL
24713 74575    2212 12         NA     VIRGINIA GARDENS FL
24737 76525    5727 12         NA     WEST MIAMI FL
24741 77075   11522 12         NA     WESTWOOD LAKE FL
28703 50000  606900 11         NA     WASHINGTON D.C. DC

In [212]:
usstates_county <- usstates_place %>% dplyr::select(one_of(c("State", "State_id", "Code", 
                                                             "Sumlev", "Place", "County", 
                                                             "City", "City2", "City3"))) %>%
                    filter(Sumlev == 50 & Place == 0) %>%
                    dplyr::rename("County_id" = "County", "County_name" = "City", 
                                  "County2" = "City2", 
                                  "County3" = "City3") %>%
                    as.data.frame()

In [28]:
str(usstates_county)

'data.frame':	3141 obs. of  9 variables:
 $ State2     : chr  "Alaska" "Alaska" "Alaska" "Alaska" ...
 $ State_id2  : int  2 2 2 2 2 2 2 2 2 2 ...
 $ Code2      : chr  "AK" "AK" "AK" "AK" ...
 $ Sumlev     : int  50 50 50 50 50 50 50 50 50 50 ...
 $ Place      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ County_id  : int  13 16 20 50 60 68 70 90 100 105 ...
 $ County_name: chr  "Aleutians East Borough" "Aleutians West Census Area" "Anchorage Municipality" "Bethel Census Area" ...
 $ County2    : chr  "Aleutians East Borough" "Aleutians West Census Area" "Anchorage Municipality" "Bethel Census Area" ...
 $ County3    : chr  "Aleutians East Borough" "Aleutians West Census Area" "Anchorage Municipality" "Bethel Census Area" ...

In [213]:
usstates_place_county <- usstates_place %>%
                            dplyr::left_join(usstates_county[c("State", "State_id", "Code",
                                                          "County_id", 
                                                             "County_name", "County2", 
                                                         "County3")],
                                      by = c("State", "State_id", 
                                             "Code", 
                                             "County" = "County_id")) %>%
                        as.data.frame()

In [214]:
usstates_place_county$County_name <- ifelse(is.na(usstates_place_county$County_name), "None", usstates_place_county$County_name)
usstates_place_county$County_name <- ifelse(is.na(usstates_place_county$County2), "None", usstates_place_county$County2)
usstates_place_county$County_name <- ifelse(is.na(usstates_place_county$County3), "None", usstates_place_county$County3)

write.csv(usstates_place_county, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Demographics\\usstates_placetype.csv")

write.csv(features, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Features_Demo\\features2.csv")

write.csv(cities_latlon, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Maps\\cities_latlon.csv")

In [49]:
str(features)

'data.frame':	5223 obs. of  56 variables:
 $ Code                        : chr  "AK" "AK" "AK" "AK" ...
 $ State                       : chr  "Alaska" "Alaska" "Alaska" "Alaska" ...
 $ State_id                    : int  2 2 2 2 2 2 2 2 2 2 ...
 $ City                        : chr  "Anchorage municipality" "Barrow city" "Fairbanks city" "Homer city" ...
 $ City2                       : chr  "Anchorage" "Barrow" "Fairbanks" "Homer" ...
 $ City3                       : chr  "Anchorage" "Barrow" "Fairbanks" "Homer" ...
 $ Place_type                  : chr  "municipality" "city" "city" "city" ...
 $ City_state                  : chr  "Anchorage, Alaska" "Barrow, Alaska" "Fairbanks, Alaska" "Homer, Alaska" ...
 $ City_code                   : chr  "Anchorage, AK" "Barrow, AK" "Fairbanks, AK" "Homer, AK" ...
 $ avgCensus2010pop            : num  291826 4212 31535 5003 7100 ...
 $ avgPopestimate2015          : num  298018 4439 31638 5510 7636 ...
 $ rownum                      : int  599 611 680 716 738 740 751 813 816 827 ...
 $ id                          : chr  "1600000US0203000" "1600000US0205200" "1600000US0224230" "1600000US0233140" ...
 $ id2                         : int  203000 205200 224230 233140 238420 238970 240950 254920 255910 258660 ...
 $ geography                   : chr  "Anchorage municipality, Alaska" "Barrow city, Alaska" "Fairbanks city, Alaska" "Homer city, Alaska" ...
 $ totalpopulation             : int  299107 4293 32193 5324 7463 8197 6293 3773 2265 6449 ...
 $ malepop                     : int  153122 2256 17366 2555 3692 4189 3268 1991 1175 3275 ...
 $ femalepop                   : int  145985 2037 14827 2769 3771 4008 3025 1782 1090 3174 ...
 $ medianage                   : num  32.5 26.5 27.2 39.1 38.5 36.9 36.9 30.1 29.3 29.3 ...
 $ per_male                    : num  51.2 52.5 53.9 48 49.5 ...
 $ per_female                  : num  48.8 47.5 46.1 52 50.5 ...
 $ total_area                  : int  291826 4212 31535 5003 7100 8050 6130 3598 2117 5937 ...
 $ urban                       : int  279811 3835 31403 0 4498 7917 5837 3222 1960 5926 ...
 $ rural                       : int  12015 377 132 5003 2602 133 293 376 157 11 ...
 $ per_urban                   : num  95.9 91 99.6 0 63.4 ...
 $ per_rural                   : num  4.12 8.95 0.42 100 36.65 ...
 $ house_total_population      : int  105175 1329 11228 2090 3041 3317 2001 1296 803 2055 ...
 $ mean_income_per_capita      : int  36920 27360 27386 30664 34627 28041 28624 29005 30992 26230 ...
 $ house_total_income          : int  105175 1329 11228 2090 3041 3317 2001 1296 803 2055 ...
 $ total_population_race       : int  299107 4293 32193 5324 7463 8197 6293 3773 2265 6449 ...
 $ white_population            : int  194254 361 20434 4630 5883 4901 2378 1303 1673 4900 ...
 $ black_population            : int  17511 24 2867 32 27 56 1 72 199 132 ...
 $ per_white                   : num  64.94 8.41 63.47 86.96 78.83 ...
 $ per_black                   : num  5.85 0.56 8.91 0.6 0.36 0.68 0.02 1.91 8.79 2.05 ...
 $ total_pop_over16            : int  231795 2857 24240 4190 5897 6576 4935 2790 1697 4771 ...
 $ employ_pop_over16           : int  171644 2079 17696 2685 3847 4422 3811 1995 1160 3087 ...
 $ per_employ_over16           : num  74 72.8 73 64.1 65.2 67.2 77.2 71.5 68.4 64.7 ...
 $ total_population_lang       : int  276810 3805 28999 4892 7020 7620 5763 3392 2073 5854 ...
 $ english_only                : int  227828 1879 24211 4375 6536 6533 3423 2857 1857 5489 ...
 $ english_other               : int  48982 1926 4788 517 484 1087 2340 535 216 365 ...
 $ per_english_only            : num  82.3 49.4 83.5 89.4 93.1 85.7 59.4 84.2 89.6 93.8 ...
 $ per_english_other           : num  17.7 50.6 16.5 10.6 6.9 14.3 40.6 15.8 10.4 6.2 ...
 $ mean_income_households      : int  99630 95160 70739 74523 81043 66751 78310 84952 82528 73063 ...
 $ total_population_individuals: int  299107 4293 32193 5324 7463 8197 6293 3773 2265 6449 ...
 $ house_median_income         : num  78326 76902 55229 55849 62236 ...
 $ location                    : chr  "ANCHORAGE AK" "BARROW AK" "FAIRBANKS AK" "HOMER AK" ...
 $ lon                         : num  -150 -157 -148 -152 -151 ...
 $ lat                         : num  61.2 71.3 64.8 59.6 60.6 ...
 $ count                       : int  742 2 121 3 8 8 42 1 10 21 ...
 $ count_rate                  : num  2.481 0.466 3.759 0.563 1.072 ...
 $ med_per_urban               : num  91.1 91.1 91.1 91.1 91.1 ...
 $ med_per_rural               : num  8.95 8.95 8.95 8.95 8.95 ...
 $ med_per_employ_over16       : num  67.8 67.8 67.8 67.8 67.8 67.8 67.8 67.8 67.8 67.8 ...
 $ city                        : chr  "ANCHORAGE" "BARROW" "FAIRBANKS" "HOMER" ...
 $ state                       : chr  "AK" "AK" "AK" "AK" ...
 $ county                      : chr  "Anchorage Borough" "North Slope Borough" "Fairbanks North Star Borough" "Kenai Peninsula Borough" ...