In [1]:
library(knitr)
library(sqldf)
library(ggplot2)
library(mongolite)
library(ggplot2)
library(gridExtra)
library(dplyr)
library(tidyr)
library(jsonlite)
library(lubridate)
library(gridExtra)
library(GGally)
library(scales)
library(memisc)
 library(sp)
library(rgeos)
library(rgdal)
library(maptools)
library(RColorBrewer)
library(maps)
library(grid)
library(cluster)
library(StatMatch)
library(fastcluster)
library(factoextra)
library(stringr)
library(googleVis)
library(RMySQL)
library(data.table)
library(dbplyr)
library(DBI)
library(httr)
library(scanstatistics)
library(purrr)
library(magrittr)
library(rsatscan)
library(stringi)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

Attaching package: 'dplyr'

The following object is masked from 'package:gridExtra':

    combine

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date


Attaching package: 'GGally'

The following object is masked from 'package:dplyr':

    nasa

Loading required package: lattice
Loading required package: MASS

Attaching package: 'MASS'

The following object is masked from 'package:dplyr':

    select


Attaching package: 'memisc'

The following object is masked from 'package:scales':

    percent

The following object is masked from 'package:lubridate':

    is.interval

The following objects are masked from 'package:dplyr':

    collect, recode, rename, syms

The following object is masked from 'package:ggplot2':

    syms

The following objects are masked from 'package:stats':

    contr.sum, contr.treatment, contrasts

The following object is masked from 'package:base':

    as.array

rgeos version: 0.3-28, (SVN revision 572)
 GEOS runtime version: 3.6.1-CAPI-1.10.1 r0
 Linking to sp version: 1.3-1
 Polygon checking: TRUE

rgdal: version: 1.3-4, (SVN revision 766)
 Geospatial Data Abstraction Library extensions to R successfully loaded
 Loaded GDAL runtime: GDAL 2.2.3, released 2017/11/20
 Path to GDAL shared files: C:/MathLabASUS/SW/DM/Anaconda2/envs/rconda/Lib/R/library/rgdal/gdal
 GDAL binary built with GEOS: TRUE
 Loaded PROJ.4 runtime: Rel. 4.9.3, 15 August 2016, [PJ_VERSION: 493]
 Path to PROJ.4 shared files: C:/MathLabASUS/SW/DM/Anaconda2/envs/rconda/Lib/R/library/rgdal/proj
 Linking to sp version: 1.3-1
Checking rgeos availability: TRUE
Warning message:
"package 'maps' was built under R version 3.5.3"
Attaching package: 'cluster'

The following object is masked from 'package:maps':

    votes.repub

Loading required package: proxy

Attaching package: 'proxy'

The following objects are masked from 'package:stats':

    as.dist, dist

The following object is masked from 'package:base':

    as.matrix

Loading required package: clue
Warning message:
"package 'clue' was built under R version 3.5.2"Loading required package: survey
Loading required package: Matrix

Attaching package: 'Matrix'

The following object is masked from 'package:tidyr':

    expand

Loading required package: survival

Attaching package: 'survey'

The following object is masked from 'package:graphics':

    dotchart

Loading required package: RANN
Loading required package: lpSolve

Attaching package: 'fastcluster'

The following object is masked from 'package:stats':

    hclust

Welcome! Related Books: `Practical Guide To Cluster Analysis in R` at https://goo.gl/13EFCZ
Creating a generic function for 'toJSON' from package 'jsonlite' in package 'googleVis'

Welcome to googleVis version 0.6.2

Please read Google's Terms of Use
before you start using the package:
https://developers.google.com/terms/

Note, the plot method of googleVis will by default use
the standard browser to display its output.

See the googleVis package vignettes for more details,
or visit http://github.com/mages/googleVis.

To suppress this message use:
suppressPackageStartupMessages(library(googleVis))

Loading required package: DBI

Attaching package: 'RMySQL'

The following object is masked from 'package:RSQLite':

    isIdCurrent


Attaching package: 'data.table'

The following objects are masked from 'package:lubridate':

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year

The following objects are masked from 'package:dplyr':

    between, first, last


Attaching package: 'dbplyr'

The following objects are masked from 'package:dplyr':

    ident, sql


Attaching package: 'httr'

The following object is masked from 'package:memisc':

    content


Attaching package: 'purrr'

The following object is masked from 'package:data.table':

    transpose

The following object is masked from 'package:maps':

    map

The following object is masked from 'package:scales':

    discard

The following object is masked from 'package:jsonlite':

    flatten


Attaching package: 'magrittr'

The following object is masked from 'package:purrr':

    set_names

The following object is masked from 'package:tidyr':

    extract

rsatscan only does anything useful if you have SaTScan
See http://www.satscan.org/ for free access

Washington DC is missing from tweet locations. This file adds the city and its demographic information

In [2]:
plot.format <- theme(axis.text = element_text(size = 14), legend.text = element_text(size = 14), legend.title = element_text(size = 14), axis.title = element_text(size = 18), plot.title = element_text(size = 18))

In [ ]:
#### Load location data for cities (latitude, longitude etc.)

In [63]:
cities_latlon <- read.csv("../Preprocessing/Files/Maps/cities_latlon.csv", stringsAsFactors = FALSE)

In [64]:
cities_latlon$X <- NULL
str(cities_latlon)

'data.frame':	28706 obs. of  15 variables:
 $ lon       : num  -124 -122 -118 -122 -123 ...
 $ lat       : num  47 48.7 48.4 47.3 46.6 ...
 $ city      : chr  "ABERDEEN" "ACME" "ADDY" "ADELAIDE" ...
 $ state     : chr  "WA" "WA" "WA" "WA" ...
 $ mapid     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ area      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ perimeter : int  0 0 0 0 0 0 0 0 0 0 ...
 $ feature   : chr  "Population 10,000 to 49,999" "Population less than 10,000" "Population less than 10,000" "Population less than 10,000" ...
 $ name      : chr  "Aberdeen" "Acme" "Addy" "Adelaide" ...
 $ fips      : int  53027 53073 53065 53033 53041 53047 53077 53075 53053 53039 ...
 $ fips55    : int  100 275 380 415 590 660 800 1010 1045 1080 ...
 $ pop       : int  16565 0 0 0 0 0 0 632 0 0 ...
 $ state_fips: int  53 53 53 53 53 53 53 53 53 53 ...
 $ county    : chr  "Grays Harbor County" "Whatcom County" "Stevens County" "King County" ...
 $ location  : chr  "ABERDEEN WA" "ACME WA" "ADDY WA" "ADELAIDE WA" ...

In [ ]:
#### Location census data by US Place_type

In [65]:
usstates_place <- read.csv("../Preprocessing/Files/Demographics/usstates_placetype.csv", stringsAsFactors = FALSE)

In [66]:
usstates_place$X <- NULL
usstates_place$X.1 <- NULL
str(usstates_place)

'data.frame':	81542 obs. of  27 variables:
 $ rownum           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Code             : chr  "AK" "AK" "AK" "AK" ...
 $ State            : chr  "Alaska" "Alaska" "Alaska" "Alaska" ...
 $ Sumlev           : int  40 162 162 162 162 162 162 162 162 162 ...
 $ State_id         : int  2 2 2 2 2 2 2 2 2 2 ...
 $ County           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Place            : int  0 65 650 870 1090 1200 1420 1860 1970 2080 ...
 $ Cousub           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Concit           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Primgeo_flag     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Funcstat         : chr  "A" "A" "A" "A" ...
 $ City             : chr  "Alaska" "Adak city" "Akhiok city" "Akiak city" ...
 $ Census2010pop    : int  710231 326 71 346 1027 677 219 105 258 324 ...
 $ Estimatesbase2010: int  710249 326 71 346 1027 677 220 171 258 324 ...
 $ Popestimate2010  : int  714015 326 71 347 1029 678 220 172 259 326 ...
 $ Popestimate2011  : int  722259 327 72 353 1034 720 224 172 264 331 ...
 $ Popestimate2012  : int  730825 330 73 378 1037 729 225 171 264 337 ...
 $ Popestimate2013  : int  736760 332 73 381 1039 742 226 169 264 341 ...
 $ Popestimate2014  : int  736759 335 72 383 1038 754 225 166 266 341 ...
 $ Popestimate2015  : int  737979 334 70 382 1041 768 225 165 266 340 ...
 $ Popestimate2016  : int  741522 332 70 382 1040 758 223 167 263 338 ...
 $ Popestimate2017  : int  739795 331 71 391 1042 762 221 165 263 341 ...
 $ City2            : chr  "Alaska" "Adak" "Akhiok" "Akiak" ...
 $ Place_type       : chr  "state" "city" "city" "city" ...
 $ City_state       : chr  "Alaska, Alaska" "Adak, Alaska" "Akhiok, Alaska" "Akiak, Alaska" ...
 $ City_code        : chr  "Alaska, AK" "Adak, AK" "Akhiok, AK" "Akiak, AK" ...
 $ City3            : chr  "Alaska" "Adak" "Akhiok" "Akiak" ...

In [67]:
demo_cols_csv <- read.csv("../Preprocessing/Files/Demographics/acs_demo_cols2.csv", 
                         stringsAsFactors = FALSE)

In [68]:
demo_cols_csv$X <- NULL
str(demo_cols_csv)

'data.frame':	29321 obs. of  36 variables:
 $ rownum                      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ id                          : chr  "1600000US0100100" "1600000US0100124" "1600000US0100460" "1600000US0100484" ...
 $ id2                         : int  100100 100124 100460 100484 100676 100820 100988 101132 101180 101228 ...
 $ geography                   : chr  "Abanda CDP, Alabama" "Abbeville city, Alabama" "Adamsville city, Alabama" "Addison town, Alabama" ...
 $ totalpopulation             : int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ malepop                     : int  11 1292 2269 331 143 15590 10777 6834 1774 1875 ...
 $ femalepop                   : int  41 1354 2185 351 150 16315 10629 7953 2138 1852 ...
 $ medianage                   : num  60.5 52.5 39.6 42.5 43.6 36.6 33.6 37.9 39.9 30.8 ...
 $ per_male                    : num  21.1 48.8 50.9 48.5 48.8 ...
 $ per_female                  : num  78.8 51.2 49.1 51.5 51.2 ...
 $ total_area                  : int  192 2688 4522 758 356 30352 21160 14875 3917 2486 ...
 $ urban                       : int  0 0 3857 0 0 29161 18710 9149 1054 0 ...
 $ rural                       : int  192 2688 665 758 356 1191 2450 5726 2863 2486 ...
 $ per_urban                   : num  0 0 85.3 0 0 ...
 $ per_rural                   : num  100 100 14.7 100 100 ...
 $ house_total_population      : int  52 1056 1704 317 126 10556 7307 5759 1464 1283 ...
 $ mean_income_per_capita      : int  14867 19262 22032 21389 11410 27382 18668 17064 25125 10923 ...
 $ house_total_income          : int  52 1056 1704 317 126 10556 7307 5759 1464 1283 ...
 $ total_population_race       : int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ white_population            : int  40 1396 2121 641 59 23864 19421 8498 3642 573 ...
 $ black_population            : int  12 1227 1927 0 234 4587 468 5818 270 3071 ...
 $ per_white                   : num  76.9 52.8 47.6 94 20.1 ...
 $ per_black                   : num  23.1 46.4 43.3 0 79.9 ...
 $ total_pop_over16            : int  NA 2211 3668 559 260 24071 15703 11311 3018 2851 ...
 $ employ_pop_over16           : int  NA 815 2170 267 112 16607 9289 5874 1994 1376 ...
 $ per_employ_over16           : num  NA 36.9 59.2 47.8 43.1 69 59.2 51.9 66.1 48.3 ...
 $ total_population_lang       : int  52 2578 4294 657 276 29962 19791 13839 3681 3421 ...
 $ english_only                : int  52 2530 3767 654 276 26569 15223 13317 3649 3365 ...
 $ english_other               : int  0 48 527 3 0 3393 4568 522 32 56 ...
 $ per_english_only            : num  100 98.1 87.7 99.5 100 88.7 76.9 96.2 99.1 98.4 ...
 $ per_english_other           : num  0 1.9 12.3 0.5 0 11.3 23.1 3.8 0.9 1.6 ...
 $ state                       : chr  "Alabama" "Alabama" "Alabama" "Alabama" ...
 $ city                        : chr  "Abanda CDP" "Abbeville city" "Adamsville city" "Addison town" ...
 $ mean_income_households      : int  14867 44246 56085 44483 24006 80353 50562 42199 65220 28630 ...
 $ total_population_individuals: int  52 2646 4454 682 293 31905 21406 14787 3912 3727 ...
 $ house_median_income         : num  11207 25615 42575 37083 21667 ...

In [ ]:
### Load demographic information

In [132]:
features <- read.csv("../Preprocessing/Files/Features/features2.csv")

In [5]:
nrow(features)

[1] 5223

In [70]:
features$X <- NULL
str(features)

'data.frame':	5223 obs. of  56 variables:
 $ Code                        : Factor w/ 49 levels "AK","AL","AR",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ State                       : Factor w/ 49 levels "Alabama","Alaska",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ State_id                    : int  2 2 2 2 2 2 2 2 2 2 ...
 $ City                        : Factor w/ 4393 levels "Abbeville city",..: 92 234 1298 1830 1996 2019 2061 2821 2857 3032 ...
 $ City2                       : Factor w/ 3994 levels "Abbeville","Aberdeen",..: 82 209 1177 1653 1804 1824 1865 2547 2578 2736 ...
 $ City3                       : Factor w/ 3994 levels "Abbeville","Aberdeen",..: 82 209 1177 1653 1804 1824 1865 2547 2578 2736 ...
 $ Place_type                  : Factor w/ 6 levels "borough","city",..: 4 2 2 2 2 2 2 2 2 2 ...
 $ City_state                  : Factor w/ 5218 levels "Abbeville, South Carolina",..: 111 279 1539 2188 2395 2419 2465 3403 3441 3639 ...
 $ City_code                   : Factor w/ 5218 levels "Abbeville, SC",..: 111 279 1539 2188 2395 2419 2465 3403 3441 3639 ...
 $ avgCensus2010pop            : num  291826 4212 31535 5003 7100 ...
 $ avgPopestimate2015          : num  298018 4439 31638 5510 7636 ...
 $ rownum                      : int  599 611 680 716 738 740 751 813 816 827 ...
 $ id                          : Factor w/ 5223 levels "1600000US0100820",..: 111 112 113 114 115 116 117 118 119 120 ...
 $ id2                         : int  203000 205200 224230 233140 238420 238970 240950 254920 255910 258660 ...
 $ geography                   : Factor w/ 5223 levels "Abbeville city, South Carolina",..: 111 279 1540 2189 2396 2420 2466 3404 3442 3640 ...
 $ totalpopulation             : int  299107 4293 32193 5324 7463 8197 6293 3773 2265 6449 ...
 $ malepop                     : int  153122 2256 17366 2555 3692 4189 3268 1991 1175 3275 ...
 $ femalepop                   : int  145985 2037 14827 2769 3771 4008 3025 1782 1090 3174 ...
 $ medianage                   : num  32.5 26.5 27.2 39.1 38.5 36.9 36.9 30.1 29.3 29.3 ...
 $ per_male                    : num  51.2 52.5 53.9 48 49.5 ...
 $ per_female                  : num  48.8 47.5 46.1 52 50.5 ...
 $ total_area                  : int  291826 4212 31535 5003 7100 8050 6130 3598 2117 5937 ...
 $ urban                       : int  279811 3835 31403 0 4498 7917 5837 3222 1960 5926 ...
 $ rural                       : int  12015 377 132 5003 2602 133 293 376 157 11 ...
 $ per_urban                   : num  95.9 91 99.6 0 63.4 ...
 $ per_rural                   : num  4.12 8.95 0.42 100 36.65 ...
 $ house_total_population      : int  105175 1329 11228 2090 3041 3317 2001 1296 803 2055 ...
 $ mean_income_per_capita      : int  36920 27360 27386 30664 34627 28041 28624 29005 30992 26230 ...
 $ house_total_income          : int  105175 1329 11228 2090 3041 3317 2001 1296 803 2055 ...
 $ total_population_race       : int  299107 4293 32193 5324 7463 8197 6293 3773 2265 6449 ...
 $ white_population            : int  194254 361 20434 4630 5883 4901 2378 1303 1673 4900 ...
 $ black_population            : int  17511 24 2867 32 27 56 1 72 199 132 ...
 $ per_white                   : num  64.94 8.41 63.47 86.96 78.83 ...
 $ per_black                   : num  5.85 0.56 8.91 0.6 0.36 0.68 0.02 1.91 8.79 2.05 ...
 $ total_pop_over16            : int  231795 2857 24240 4190 5897 6576 4935 2790 1697 4771 ...
 $ employ_pop_over16           : int  171644 2079 17696 2685 3847 4422 3811 1995 1160 3087 ...
 $ per_employ_over16           : num  74 72.8 73 64.1 65.2 67.2 77.2 71.5 68.4 64.7 ...
 $ total_population_lang       : int  276810 3805 28999 4892 7020 7620 5763 3392 2073 5854 ...
 $ english_only                : int  227828 1879 24211 4375 6536 6533 3423 2857 1857 5489 ...
 $ english_other               : int  48982 1926 4788 517 484 1087 2340 535 216 365 ...
 $ per_english_only            : num  82.3 49.4 83.5 89.4 93.1 85.7 59.4 84.2 89.6 93.8 ...
 $ per_english_other           : num  17.7 50.6 16.5 10.6 6.9 14.3 40.6 15.8 10.4 6.2 ...
 $ mean_income_households      : int  99630 95160 70739 74523 81043 66751 78310 84952 82528 73063 ...
 $ total_population_individuals: int  299107 4293 32193 5324 7463 8197 6293 3773 2265 6449 ...
 $ house_median_income         : int  78326 76902 55229 55849 62236 53111 62934 76389 70536 61797 ...
 $ location                    : Factor w/ 5218 levels "ABBEVILLE SC",..: 111 279 1539 2187 2395 2419 2465 3403 3441 3639 ...
 $ lon                         : num  -150 -157 -148 -152 -151 ...
 $ lat                         : num  61.2 71.3 64.8 59.6 60.6 ...
 $ count                       : int  742 2 121 3 8 8 42 1 10 21 ...
 $ count_rate                  : num  2.481 0.466 3.759 0.563 1.072 ...
 $ med_per_urban               : num  91.1 91.1 91.1 91.1 91.1 ...
 $ med_per_rural               : num  8.95 8.95 8.95 8.95 8.95 ...
 $ med_per_employ_over16       : num  67.8 67.8 67.8 67.8 67.8 67.8 67.8 67.8 67.8 67.8 ...
 $ city                        : Factor w/ 3994 levels "ABBEVILLE","ABERDEEN",..: 82 209 1177 1653 1804 1824 1865 2547 2578 2736 ...
 $ state                       : Factor w/ 49 levels "AK","AL","AR",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ county                      : Factor w/ 1334 levels "Abbeville County",..: 29 872 409 625 625 634 650 869 409 760 ...

In [ ]:
#### Load English text already preprocessed

In [71]:
full_text_en <- fread(file="../Preprocessing/Files/Lexicon/full_text_en.csv", sep =",", header = TRUE, 
              stringsAsFactors=FALSE,
             showProgress=getOption("datatable.showProgress", interactive()), data.table=FALSE)

In [72]:
full_text_en$V1 <- NULL
str(full_text_en)

'data.frame':	3760412 obs. of  40 variables:
 $ rowno                      : num  1 2 3 4 5 6 7 8 9 10 ...
 $ user.id                    :integer64 1539100118 9439062 63380850 1539100118 9439062 26312359 40652267 296368494 ...
 $ user.location              : chr  "Columbus, OH" "Atlanta, GA" "CaLove" "Columbus, OH" ...
 $ user.description           : chr  "Advocate for survivors of sexual violence. Breaker of silence, destroyer of shame." "Husband. Father. Prelate. Human. Company builder, 2 exits. Author @kingonomics. Inclusive ecosystem builder @th"| __truncated__ "Jealous Guardian of our Democracy #RIPTrayvonMartin #ImAlwaysWithHer" "Advocate for survivors of sexual violence. Breaker of silence, destroyer of shame." ...
 $ created_at                 : chr  "Sat Aug 09 22:33:06 +0000 2014" "Sat Aug 09 22:59:13 +0000 2014" "Sat Aug 09 22:00:02 +0000 2014" "Sat Aug 09 22:28:42 +0000 2014" ...
 $ id                         : num  4.98e+17 4.98e+17 4.98e+17 4.98e+17 4.98e+17 ...
 $ user.created_at            : chr  "Sat Jun 22 16:57:40 +0000 2013" "Sun Oct 14 15:51:11 +0000 2007" "Thu Aug 06 05:19:37 +0000 2009" "Sat Jun 22 16:57:40 +0000 2013" ...
 $ retweeted                  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ retweeted_count            : logi  NA NA NA NA NA NA ...
 $ retweet                    : int  0 0 1 0 0 0 0 0 0 1 ...
 $ retweeted_status.created_at: chr  "" "" "Sat Aug 09 20:34:54 +0000 2014" "" ...
 $ favorited                  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ favorite_count             : int  107 1 0 10 2 0 0 3 6 0 ...
 $ textnum                    : num  1 2 3 4 5 6 7 8 9 10 ...
 $ full_text                  : chr  "Black teenage boys are not men. They are children. Stop referring to a 17 year old as a man. You are killing ch"| __truncated__ "@PhaedraParks  While there, please tune in today's killing of the young black male in #Ferguson. #SaveOurBoys" "RT @PhenomMusik: @NAACP pictures speak 1000 words! Unarmed teen shot 10 times by #Ferguson police http://t.co/COLJqL4N3h" "SICK and TIRED of police killing unarmed people. #ferguson #walmart" ...
 $ possibly_sensitive         : logi  NA NA FALSE NA NA FALSE ...
 $ hashtags                   : chr  "ferguson" "c(\"\"\"\"Ferguson\"\"\"\" \"\"\"\"SaveOurBoys\"\"\"\")" "Ferguson" "c(\"\"\"\"ferguson\"\"\"\" \"\"\"\"walmart\"\"\"\")" ...
 $ lang                       : chr  "en" "en" "en" "en" ...
 $ user.geo_enabled           : logi  TRUE FALSE TRUE TRUE FALSE TRUE ...
 $ place.full_name            : chr  "" "" "" "" ...
 $ place.place_type           : chr  "" "" "" "" ...
 $ utc_datetime               : chr  "2014-08-09T22:33:06Z" "2014-08-09T22:59:13Z" "2014-08-09T22:00:02Z" "2014-08-09T22:28:42Z" ...
 $ yday                       : int  221 221 221 221 221 221 221 221 221 221 ...
 $ ymd                        : chr  "2014-08-09" "2014-08-09" "2014-08-09" "2014-08-09" ...
 $ user_id2                   : int  542673 9237 174942 542673 9237 93300 134846 350432 90689 111314 ...
 $ user.location2             : chr  "COLUMBUS OH" "ATLANTA GA" "CALOVE" "COLUMBUS OH" ...
 $ City_code                  : chr  "COLUMBUS OH" "ATLANTA GA" NA "COLUMBUS OH" ...
 $ City_state                 : chr  "COLUMBUS OHIO" "ATLANTA GEORGIA" NA "COLUMBUS OHIO" ...
 $ City2                      : chr  "COLUMBUS" "ATLANTA" NA "COLUMBUS" ...
 $ State                      : chr  "OHIO" "GEORGIA" NA "OHIO" ...
 $ Code                       : chr  "OH" "GA" NA "OH" ...
 $ n                          : int  3 1 NA 3 1 NA NA NA NA NA ...
 $ keyword_pos_hash           : chr  "c(120, 128)" "c(87, 98, 96, 109)" "c(82, 90)" "c(50, 60, 58, 67)" ...
 $ keyword_count_hash         : int  1 2 1 2 1 2 1 2 2 1 ...
 $ full_text2                 : chr  "Black teenage boys are not men. They are children. Stop referring to a 17 year old as a man. You are killing ch"| __truncated__ "While there, please tune in today's killing of the young black male in #Ferguson. #SaveOurBoys" "pictures speak 1000 words! Unarmed teen shot 10 times by #Ferguson police" "SICK and TIRED of police killing unarmed people. #ferguson #walmart" ...
 $ full_text_nohash           : chr  "Black teenage boys are not men. They are children. Stop referring to a 17 year old as a man. You are killing children.  " " While there, please tune in today's killing of the young black male in  .  " "RT : pictures speak 1000 words! Unarmed teen shot 10 times by   police " "SICK and TIRED of police killing unarmed people.    " ...
 $ tweet_type                 : chr  "All" "SB" "RT" "All" ...
 $ full_text_nohash2          : chr  "Black teenage boys are not men They are children Stop referring to a year old as a man You are killing children " " While there, please tune in today's killing of the young black male in " " pictures speak words! Unarmed teen shot times by police " "SICK and TIRED of police killing unarmed people " ...
 $ full_text_low              : chr  "black teenage boys are not men they are children stop referring to a year old as a man you are killing children " " while there please tune in todays killing of the young black male in " " pictures speak words unarmed teen shot times by police " "sick and tired of police killing unarmed people " ...
 $ full_text_low_nostop       : chr  "black teenage boys not men children stop referring year old man killing children" "please tune todays killing young black male" "pictures speak words unarmed teen shot times police" "sick tired police killing unarmed people" ...

In [46]:
### Check for Washington DC in the tweet locations

In [73]:
checkDC <- subset(full_text_en, user.location2 %like% "WASHINGTON DC")

In [74]:
head(checkDC$user.location2, 20)

 [1] "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC"
 [5] "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC"
 [9] "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC"
[13] "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC"
[17] "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC" "WASHINGTON DC"

In [75]:
table(checkDC$City_code, useNA = "ifany")

 <NA>
54941

In [76]:
full_text_en$user.location2 <- gsub("WASHINGTON D C", "WASHINGTON DC",full_text_en$user.location2)

In [77]:
nrow(subset(full_text_en, user.location2 == "WASHINGTON DC"))

[1] 59813

In [78]:
full_text_en  <- full_text_en %>% 
                mutate(Code = ifelse(user.location2 == "WASHINGTON DC", 
                                 str_split_fixed(user.location2, " ", n = 2)[, 2],
                                 Code),
                     State = ifelse(user.location2 == "WASHINGTON DC", "DC", State),
                     City2 = ifelse(user.location2 == "WASHINGTON DC", 
                                    str_split_fixed(user.location2, " ", n = 2)[, 1], 
                                   City2),
                    City_code = ifelse(user.location2 == "WASHINGTON DC", 
                                       "WASHINGTON DC", City_code),
                    City_state = ifelse(user.location2 == "WASHINGTON DC", "WASHINGTON DC", 
                                        City_state)
                      )

In [79]:
nrow(full_text_en)

[1] 3760412

In [80]:
###### Add Washington DC to cities_latlon

In [81]:
checkDC <- subset(cities_latlon, name == "Washington D.C.")

In [82]:
checkDC$name <- gsub("\\.", "", toupper(checkDC$name))

In [83]:
checkDC$city <- str_split_fixed(checkDC$name, " ", n = 2)[, 1]
checkDC$state <- str_split_fixed(checkDC$name, " ", n = 2)[, 2]
checkDC$location <- str_c(checkDC$city, " ", checkDC$state)

In [84]:
colnames(checkDC)

 [1] "lon"        "lat"        "city"       "state"      "mapid"
 [6] "area"       "perimeter"  "feature"    "name"       "fips"
[11] "fips55"     "pop"        "state_fips" "county"     "location"

In [85]:
cities_latlon[which(cities_latlon$name == "Washington D.C."), ] <- checkDC

In [86]:
checkDC

      lon       lat      city       state mapid area perimeter
28703 -77.01257 38.88912 WASHINGTON DC    28703 0    0
      feature                                         name          fips
28703 Population 500,000 to 999,999  National Capital WASHINGTON DC 11001
      fips55 pop    state_fips county location
28703 50000  606900 11         NA     WASHINGTON DC

In [87]:
subset(cities_latlon, name == "WASHINGTON DC")

      lon       lat      city       state mapid area perimeter
28703 -77.01257 38.88912 WASHINGTON DC    28703 0    0
      feature                                         name          fips
28703 Population 500,000 to 999,999  National Capital WASHINGTON DC 11001
      fips55 pop    state_fips county location
28703 50000  606900 11         NA     WASHINGTON DC

write.csv(cities_latlon, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Maps\\cities_latlondc.csv")

cities_latlon <- read.csv("C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Maps\\cities_latlondc.csv")

cities_latlon$X <- NULL
str(cities_latlon)

In [89]:
full_text_en <-  full_text_en %>% 
                left_join(cities_latlon[c("lon", "lat", "city", "state")], 
                          by = c("City2" = "city", "Code" = "state")) %>%
                as.data.frame()

In [90]:
get_num_tweets <- full_text_en %>% dplyr::select(one_of(c("ymd", "yday", "City_code"))) %>%
                                    group_by(ymd, yday, City_code) %>%
                                            summarise(n2 = n()) %>%
                as.data.frame()

In [38]:
str(get_num_tweets)

'data.frame':	28438 obs. of  4 variables:
 $ ymd      : chr  "2014-08-09" "2014-08-09" "2014-08-09" "2014-08-09" ...
 $ yday     : int  221 221 221 221 221 221 221 221 221 221 ...
 $ City_code: chr  "ATLANTA GA" "AUSTIN TX" "BALTIMORE MD" "BEAVERTON OR" ...
 $ n2       : int  7 2 2 2 2 1 2 1 4 1 ...

In [91]:
colnames(full_text_en)

 [1] "rowno"                       "user.id"
 [3] "user.location"               "user.description"
 [5] "created_at"                  "id"
 [7] "user.created_at"             "retweeted"
 [9] "retweeted_count"             "retweet"
[11] "retweeted_status.created_at" "favorited"
[13] "favorite_count"              "textnum"
[15] "full_text"                   "possibly_sensitive"
[17] "hashtags"                    "lang"
[19] "user.geo_enabled"            "place.full_name"
[21] "place.place_type"            "utc_datetime"
[23] "yday"                        "ymd"
[25] "user_id2"                    "user.location2"
[27] "City_code"                   "City_state"
[29] "City2"                       "State"
[31] "Code"                        "n"
[33] "keyword_pos_hash"            "keyword_count_hash"
[35] "full_text2"                  "full_text_nohash"
[37] "tweet_type"                  "full_text_nohash2"
[39] "full_text_low"               "full_text_low_nostop"
[41] "lon"                         "lat"

In [92]:
full_text_en <- full_text_en %>% 
                inner_join(get_num_tweets, by =c("ymd", "yday", "City_code")) %>%
                dplyr::select(-n) %>%
                dplyr::rename("n" = "n2") %>%
                as.data.frame()

In [93]:
subset(full_text_en[c("City_code", "lon", "lat")], City_code == "WASHINGTON DC")

        City_code     lon       lat
106     WASHINGTON DC -77.01257 38.88912
192     WASHINGTON DC -77.01257 38.88912
213     WASHINGTON DC -77.01257 38.88912
220     WASHINGTON DC -77.01257 38.88912
238     WASHINGTON DC -77.01257 38.88912
247     WASHINGTON DC -77.01257 38.88912
270     WASHINGTON DC -77.01257 38.88912
284     WASHINGTON DC -77.01257 38.88912
406     WASHINGTON DC -77.01257 38.88912
430     WASHINGTON DC -77.01257 38.88912
481     WASHINGTON DC -77.01257 38.88912
572     WASHINGTON DC -77.01257 38.88912
617     WASHINGTON DC -77.01257 38.88912
1000    WASHINGTON DC -77.01257 38.88912
1012    WASHINGTON DC -77.01257 38.88912
1117    WASHINGTON DC -77.01257 38.88912
1127    WASHINGTON DC -77.01257 38.88912
1165    WASHINGTON DC -77.01257 38.88912
1206    WASHINGTON DC -77.01257 38.88912
1237    WASHINGTON DC -77.01257 38.88912
1279    WASHINGTON DC -77.01257 38.88912
1444    WASHINGTON DC -77.01257 38.88912
1623    WASHINGTON DC -77.01257 38.88912
1625    WASHINGTON DC -77.01257 38.88912
1890    WASHINGTON DC -77.01257 38.88912
2011    WASHINGTON DC -77.01257 38.88912
2146    WASHINGTON DC -77.01257 38.88912
2231    WASHINGTON DC -77.01257 38.88912
2406    WASHINGTON DC -77.01257 38.88912
2521    WASHINGTON DC -77.01257 38.88912
...     ...           ...       ...
3636195 WASHINGTON DC -77.01257 38.88912
3636221 WASHINGTON DC -77.01257 38.88912
3636424 WASHINGTON DC -77.01257 38.88912
3636452 WASHINGTON DC -77.01257 38.88912
3636476 WASHINGTON DC -77.01257 38.88912
3636504 WASHINGTON DC -77.01257 38.88912
3636542 WASHINGTON DC -77.01257 38.88912
3636554 WASHINGTON DC -77.01257 38.88912
3636560 WASHINGTON DC -77.01257 38.88912
3636587 WASHINGTON DC -77.01257 38.88912
3636602 WASHINGTON DC -77.01257 38.88912
3636607 WASHINGTON DC -77.01257 38.88912
3636646 WASHINGTON DC -77.01257 38.88912
3636669 WASHINGTON DC -77.01257 38.88912
3636687 WASHINGTON DC -77.01257 38.88912
3636720 WASHINGTON DC -77.01257 38.88912
3636726 WASHINGTON DC -77.01257 38.88912
3636733 WASHINGTON DC -77.01257 38.88912
3636785 WASHINGTON DC -77.01257 38.88912
3636792 WASHINGTON DC -77.01257 38.88912
3636956 WASHINGTON DC -77.01257 38.88912
3637004 WASHINGTON DC -77.01257 38.88912
3637150 WASHINGTON DC -77.01257 38.88912
3637156 WASHINGTON DC -77.01257 38.88912
3637203 WASHINGTON DC -77.01257 38.88912
3637209 WASHINGTON DC -77.01257 38.88912
3637291 WASHINGTON DC -77.01257 38.88912
3637299 WASHINGTON DC -77.01257 38.88912
3637351 WASHINGTON DC -77.01257 38.88912
3637359 WASHINGTON DC -77.01257 38.88912

In [ ]:
### Placeholder to read and write new full_text_en file with Washington DC city added as 
### a location

write.csv(full_text_en, "C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Lexicon\\full_text_en2_dc.csv")

full_text_en2 <- fread(file="C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Lexicon\\full_text_en2_dc.csv", sep =",", header = TRUE, 
              stringsAsFactors=FALSE,
             showProgress=getOption("datatable.showProgress", interactive()), data.table=FALSE)

In [10]:
str(full_text_en2)
full_text_en2$V1 <- NULL

'data.frame':	3760412 obs. of  43 variables:
 $ V1                         : int  1 2 3 4 5 6 7 8 9 10 ...
 $ rowno                      : num  1 2 3 4 5 6 7 8 9 10 ...
 $ user.id                    :integer64 1539100118 9439062 63380850 1539100118 9439062 26312359 40652267 296368494 ...
 $ user.location              : chr  "Columbus, OH" "Atlanta, GA" "CaLove" "Columbus, OH" ...
 $ user.description           : chr  "Advocate for survivors of sexual violence. Breaker of silence, destroyer of shame." "Husband. Father. Prelate. Human. Company builder, 2 exits. Author @kingonomics. Inclusive ecosystem builder @th"| __truncated__ "Jealous Guardian of our Democracy #RIPTrayvonMartin #ImAlwaysWithHer" "Advocate for survivors of sexual violence. Breaker of silence, destroyer of shame." ...
 $ created_at                 : chr  "Sat Aug 09 22:33:06 +0000 2014" "Sat Aug 09 22:59:13 +0000 2014" "Sat Aug 09 22:00:02 +0000 2014" "Sat Aug 09 22:28:42 +0000 2014" ...
 $ id                         : num  4.98e+17 4.98e+17 4.98e+17 4.98e+17 4.98e+17 ...
 $ user.created_at            : chr  "Sat Jun 22 16:57:40 +0000 2013" "Sun Oct 14 15:51:11 +0000 2007" "Thu Aug 06 05:19:37 +0000 2009" "Sat Jun 22 16:57:40 +0000 2013" ...
 $ retweeted                  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ retweeted_count            : logi  NA NA NA NA NA NA ...
 $ retweet                    : int  0 0 1 0 0 0 0 0 0 1 ...
 $ retweeted_status.created_at: chr  "" "" "Sat Aug 09 20:34:54 +0000 2014" "" ...
 $ favorited                  : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ favorite_count             : int  107 1 0 10 2 0 0 3 6 0 ...
 $ textnum                    : num  1 2 3 4 5 6 7 8 9 10 ...
 $ full_text                  : chr  "Black teenage boys are not men. They are children. Stop referring to a 17 year old as a man. You are killing ch"| __truncated__ "@PhaedraParks  While there, please tune in today's killing of the young black male in #Ferguson. #SaveOurBoys" "RT @PhenomMusik: @NAACP pictures speak 1000 words! Unarmed teen shot 10 times by #Ferguson police http://t.co/COLJqL4N3h" "SICK and TIRED of police killing unarmed people. #ferguson #walmart" ...
 $ possibly_sensitive         : logi  NA NA FALSE NA NA FALSE ...
 $ hashtags                   : chr  "ferguson" "c(\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"Ferguson\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\" \"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"Save"| __truncated__ "Ferguson" "c(\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"ferguson\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\" \"\"\"\"\"\"\"\"\"\"\"\"\"\"\"\"walm"| __truncated__ ...
 $ lang                       : chr  "en" "en" "en" "en" ...
 $ user.geo_enabled           : logi  TRUE FALSE TRUE TRUE FALSE TRUE ...
 $ place.full_name            : chr  "" "" "" "" ...
 $ place.place_type           : chr  "" "" "" "" ...
 $ utc_datetime               : chr  "2014-08-09T22:33:06Z" "2014-08-09T22:59:13Z" "2014-08-09T22:00:02Z" "2014-08-09T22:28:42Z" ...
 $ yday                       : int  221 221 221 221 221 221 221 221 221 221 ...
 $ ymd                        : chr  "2014-08-09" "2014-08-09" "2014-08-09" "2014-08-09" ...
 $ user_id2                   : int  542673 9237 174942 542673 9237 93300 134846 350432 90689 111314 ...
 $ user.location2             : chr  "COLUMBUS OH" "ATLANTA GA" "CALOVE" "COLUMBUS OH" ...
 $ City_code                  : chr  "COLUMBUS OH" "ATLANTA GA" NA "COLUMBUS OH" ...
 $ City_state                 : chr  "COLUMBUS OHIO" "ATLANTA GEORGIA" NA "COLUMBUS OHIO" ...
 $ City2                      : chr  "COLUMBUS" "ATLANTA" NA "COLUMBUS" ...
 $ State                      : chr  "OHIO" "GEORGIA" NA "OHIO" ...
 $ Code                       : chr  "OH" "GA" NA "OH" ...
 $ keyword_pos_hash           : chr  "c(120, 128)" "c(87, 98, 96, 109)" "c(82, 90)" "c(50, 60, 58, 67)" ...
 $ keyword_count_hash         : int  1 2 1 2 1 2 1 2 2 1 ...
 $ full_text2                 : chr  "Black teenage boys are not men. They are children. Stop referring to a 17 year old as a man. You are killing ch"| __truncated__ "While there, please tune in today's killing of the young black male in #Ferguson. #SaveOurBoys" "pictures speak 1000 words! Unarmed teen shot 10 times by #Ferguson police" "SICK and TIRED of police killing unarmed people. #ferguson #walmart" ...
 $ full_text_nohash           : chr  "Black teenage boys are not men. They are children. Stop referring to a 17 year old as a man. You are killing children.  " " While there, please tune in today's killing of the young black male in  .  " "RT : pictures speak 1000 words! Unarmed teen shot 10 times by   police " "SICK and TIRED of police killing unarmed people.    " ...
 $ tweet_type                 : chr  "All" "SB" "RT" "All" ...
 $ full_text_nohash2          : chr  "Black teenage boys are not men They are children Stop referring to a year old as a man You are killing children " " While there, please tune in today's killing of the young black male in " " pictures speak words! Unarmed teen shot times by police " "SICK and TIRED of police killing unarmed people " ...
 $ full_text_low              : chr  "black teenage boys are not men they are children stop referring to a year old as a man you are killing children " " while there please tune in todays killing of the young black male in " " pictures speak words unarmed teen shot times by police " "sick and tired of police killing unarmed people " ...
 $ full_text_low_nostop       : chr  "black teenage boys not men children stop referring year old man killing children" "please tune todays killing young black male" "pictures speak words unarmed teen shot times police" "sick tired police killing unarmed people" ...
 $ lon                        : num  NA NA NA NA NA NA NA NA NA NA ...
 $ lat                        : num  NA NA NA NA NA NA NA NA NA NA ...
 $ n                          : int  5 7 391 5 7 391 391 391 391 391 ...

In [136]:
NROW(unique(full_text_en$full_text_low_nostop))

[1] 850179

In [94]:
washingtonDC <- subset(demo_cols_csv, geography == "Washington city, District of Columbia")

In [ ]:
### Add missing Washington DC info by reordering columns in features and demo_cols_csv to 
### match

In [98]:
features <- features %>% dplyr::select(Code:house_median_income, 
                                med_per_urban:state, location:count_rate) %>%
                        as.data.frame()

In [99]:
colnames(demo_cols_csv)

 [1] "rownum"                       "id"
 [3] "id2"                          "geography"
 [5] "totalpopulation"              "malepop"
 [7] "femalepop"                    "medianage"
 [9] "per_male"                     "per_female"
[11] "total_area"                   "urban"
[13] "rural"                        "per_urban"
[15] "per_rural"                    "house_total_population"
[17] "mean_income_per_capita"       "house_total_income"
[19] "total_population_race"        "white_population"
[21] "black_population"             "per_white"
[23] "per_black"                    "total_pop_over16"
[25] "employ_pop_over16"            "per_employ_over16"
[27] "total_population_lang"        "english_only"
[29] "english_other"                "per_english_only"
[31] "per_english_other"            "state"
[33] "city"                         "mean_income_households"
[35] "total_population_individuals" "house_median_income"

In [112]:
usplaceDC <- c("DC", "DC", 11, "Washington city", "Washington", "Washington", "city", 
            "WASHINGTON DC", "WASHINGTON DC")
usplaceDC <- c(usplaceDC, washingtonDC$totalpopulation, washingtonDC$totalpopulation)
#colnames(usdemoDC) <- colnames(demo_cols_csv)[1:11]

In [113]:
usplaceDC <- as.data.frame(t(usplaceDC))

In [114]:
colnames(usplaceDC) <- colnames(features)[1:11]

In [103]:
str(usplaceDC)

'data.frame':	1 obs. of  11 variables:
 $ Code              : Factor w/ 1 level "DC": 1
 $ State             : Factor w/ 1 level "DC": 1
 $ State_id          : Factor w/ 1 level "11": 1
 $ City              : Factor w/ 1 level "Washington city": 1
 $ City2             : Factor w/ 1 level "Washington": 1
 $ City3             : Factor w/ 1 level "Washington": 1
 $ Place_type        : Factor w/ 1 level "city": 1
 $ City_state        : Factor w/ 1 level "WASHINGTON DC": 1
 $ City_code         : Factor w/ 1 level "WASHINGTON DC": 1
 $ avgCensus2010pop  : Factor w/ 1 level "647484": 1
 $ avgPopestimate2015: Factor w/ 1 level "647484": 1

In [115]:
usplaceDC[c("State_id","avgCensus2010pop","avgPopestimate2015")] <- apply(usplaceDC[c("State_id","avgCensus2010pop","avgPopestimate2015")],
                   2, as.character)
usplaceDC[c("State_id","avgCensus2010pop","avgPopestimate2015")] <- apply(usplaceDC[c("State_id","avgCensus2010pop","avgPopestimate2015")],
                   2, as.integer)

In [116]:
demo_cols_csv <- demo_cols_csv %>% dplyr::select(rownum:per_english_other, 
                                                 mean_income_households:house_median_income,
                                                 city, state) %>%
                                    as.data.frame()

In [106]:
colnames(demo_cols_csv)

 [1] "rownum"                       "id"
 [3] "id2"                          "geography"
 [5] "totalpopulation"              "malepop"
 [7] "femalepop"                    "medianage"
 [9] "per_male"                     "per_female"
[11] "total_area"                   "urban"
[13] "rural"                        "per_urban"
[15] "per_rural"                    "house_total_population"
[17] "mean_income_per_capita"       "house_total_income"
[19] "total_population_race"        "white_population"
[21] "black_population"             "per_white"
[23] "per_black"                    "total_pop_over16"
[25] "employ_pop_over16"            "per_employ_over16"
[27] "total_population_lang"        "english_only"
[29] "english_other"                "per_english_only"
[31] "per_english_other"            "mean_income_households"
[33] "total_population_individuals" "house_median_income"
[35] "city"                         "state"

In [107]:
colnames(features)

 [1] "Code"                         "State"
 [3] "State_id"                     "City"
 [5] "City2"                        "City3"
 [7] "Place_type"                   "City_state"
 [9] "City_code"                    "avgCensus2010pop"
[11] "avgPopestimate2015"           "rownum"
[13] "id"                           "id2"
[15] "geography"                    "totalpopulation"
[17] "malepop"                      "femalepop"
[19] "medianage"                    "per_male"
[21] "per_female"                   "total_area"
[23] "urban"                        "rural"
[25] "per_urban"                    "per_rural"
[27] "house_total_population"       "mean_income_per_capita"
[29] "house_total_income"           "total_population_race"
[31] "white_population"             "black_population"
[33] "per_white"                    "per_black"
[35] "total_pop_over16"             "employ_pop_over16"
[37] "per_employ_over16"            "total_population_lang"
[39] "english_only"                 "english_other"
[41] "per_english_only"             "per_english_other"
[43] "mean_income_households"       "total_population_individuals"
[45] "house_median_income"          "med_per_urban"
[47] "med_per_rural"                "med_per_employ_over16"
[49] "city"                         "state"
[51] "location"                     "lon"
[53] "lat"                          "count"
[55] "count_rate"

In [117]:
demo_cols_csvDC <- demo_cols_csv %>% dplyr::select(everything()) %>%
                    filter(city == "Washington city" & state == "District of Columbia") %>%
                    mutate(med_per_urban = per_urban, 
                           med_per_rural = per_rural, 
                          med_per_employ_over16 = per_employ_over16,
                          state = "DC",
                          city = "WASHINGTON") %>%
                    as.data.frame()

In [118]:
DCInfo <- dplyr::bind_cols(usplaceDC, demo_cols_csvDC)

In [119]:
str(DCInfo)

'data.frame':	1 obs. of  50 variables:
 $ Code                        : Factor w/ 1 level "DC": 1
 $ State                       : Factor w/ 1 level "DC": 1
 $ State_id                    : int 11
 $ City                        : Factor w/ 1 level "Washington city": 1
 $ City2                       : Factor w/ 1 level "Washington": 1
 $ City3                       : Factor w/ 1 level "Washington": 1
 $ Place_type                  : Factor w/ 1 level "city": 1
 $ City_state                  : Factor w/ 1 level "WASHINGTON DC": 1
 $ City_code                   : Factor w/ 1 level "WASHINGTON DC": 1
 $ avgCensus2010pop            : int 647484
 $ avgPopestimate2015          : int 647484
 $ rownum                      : int 4133
 $ id                          : chr "1600000US1150000"
 $ id2                         : int 1150000
 $ geography                   : chr "Washington city, District of Columbia"
 $ totalpopulation             : int 647484
 $ malepop                     : int 306674
 $ femalepop                   : int 340810
 $ medianage                   : num 33.7
 $ per_male                    : num 47.4
 $ per_female                  : num 52.6
 $ total_area                  : int 601723
 $ urban                       : int 601723
 $ rural                       : int 0
 $ per_urban                   : num 100
 $ per_rural                   : num 0
 $ house_total_population      : int 273390
 $ mean_income_per_capita      : int 47675
 $ house_total_income          : int 273390
 $ total_population_race       : int 647484
 $ white_population            : int 260325
 $ black_population            : int 316447
 $ per_white                   : num 40.2
 $ per_black                   : num 48.9
 $ total_pop_over16            : int 546805
 $ employ_pop_over16           : int 377072
 $ per_employ_over16           : num 69
 $ total_population_lang       : int 607051
 $ english_only                : int 503735
 $ english_other               : int 103316
 $ per_english_only            : num 83
 $ per_english_other           : num 17
 $ mean_income_households      : int 107594
 $ total_population_individuals: int 647484
 $ house_median_income         : num 70848
 $ city                        : chr "WASHINGTON"
 $ state                       : chr "DC"
 $ med_per_urban               : num 100
 $ med_per_rural               : num 0
 $ med_per_employ_over16       : num 69

cities_latlondc <- read.csv("C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Maps\\cities_latlondc.csv", stringsAsFactors = FALSE)

str(cities_latlondc)
cities_latlondc$X <- NULL

In [120]:
get_num_tweetsDC <- full_text_en %>% dplyr::select(one_of(c("City_code"))) %>%
                                    filter(City_code == "WASHINGTON DC") %>%
                                    group_by(City_code) %>%
                                            summarise(count = n()) %>%
                                    as.data.frame()

In [121]:
round(get_num_tweetsDC$count/DCInfo$totalpopulation * 1000, 2)

[1] 92.38

In [122]:
round(5/8, 3)

[1] 0.625

In [124]:
DCInfo <- DCInfo %>% dplyr::select(everything()) %>%
                        filter(city == "WASHINGTON", state == "DC") %>%
                        inner_join(cities_latlon[c("lon", "lat", "location", "city", "state")], 
                                  by = c("city", "state")) %>%
                        inner_join(get_num_tweetsDC[c("City_code", "count")], by = "City_code") %>%
                        as.data.frame()

Warning message:
"Column `City_code` joining factor and character vector, coercing into character vector"

In [125]:
DCInfo$count_rate <- round((DCInfo$count/DCInfo$totalpopulation) * 1000, 2)

In [126]:
DCInfo <- DCInfo %>% dplyr::select(Code:house_median_income, 
                                   med_per_urban:med_per_employ_over16, 
                                  city:state, location, lon:lat, count:count_rate) %>%
                    as.data.frame()

In [127]:
str(DCInfo)

'data.frame':	1 obs. of  55 variables:
 $ Code                        : Factor w/ 1 level "DC": 1
 $ State                       : Factor w/ 1 level "DC": 1
 $ State_id                    : int 11
 $ City                        : Factor w/ 1 level "Washington city": 1
 $ City2                       : Factor w/ 1 level "Washington": 1
 $ City3                       : Factor w/ 1 level "Washington": 1
 $ Place_type                  : Factor w/ 1 level "city": 1
 $ City_state                  : Factor w/ 1 level "WASHINGTON DC": 1
 $ City_code                   : chr "WASHINGTON DC"
 $ avgCensus2010pop            : int 647484
 $ avgPopestimate2015          : int 647484
 $ rownum                      : int 4133
 $ id                          : chr "1600000US1150000"
 $ id2                         : int 1150000
 $ geography                   : chr "Washington city, District of Columbia"
 $ totalpopulation             : int 647484
 $ malepop                     : int 306674
 $ femalepop                   : int 340810
 $ medianage                   : num 33.7
 $ per_male                    : num 47.4
 $ per_female                  : num 52.6
 $ total_area                  : int 601723
 $ urban                       : int 601723
 $ rural                       : int 0
 $ per_urban                   : num 100
 $ per_rural                   : num 0
 $ house_total_population      : int 273390
 $ mean_income_per_capita      : int 47675
 $ house_total_income          : int 273390
 $ total_population_race       : int 647484
 $ white_population            : int 260325
 $ black_population            : int 316447
 $ per_white                   : num 40.2
 $ per_black                   : num 48.9
 $ total_pop_over16            : int 546805
 $ employ_pop_over16           : int 377072
 $ per_employ_over16           : num 69
 $ total_population_lang       : int 607051
 $ english_only                : int 503735
 $ english_other               : int 103316
 $ per_english_only            : num 83
 $ per_english_other           : num 17
 $ mean_income_households      : int 107594
 $ total_population_individuals: int 647484
 $ house_median_income         : num 70848
 $ med_per_urban               : num 100
 $ med_per_rural               : num 0
 $ med_per_employ_over16       : num 69
 $ city                        : chr "WASHINGTON"
 $ state                       : chr "DC"
 $ location                    : chr "WASHINGTON DC"
 $ lon                         : num -77
 $ lat                         : num 38.9
 $ count                       : int 59813
 $ count_rate                  : num 92.4

In [128]:
DCInfo[c("Code", "State", "City", "City2", "City3", "City_state", "Place_type",
         "id", "geography")] <- 
apply(DCInfo[c("Code", "State", "City", "City2", "City3", "City_state", "Place_type",
                "id", "geography")], 2, as.character)

In [129]:
str(DCInfo)

'data.frame':	1 obs. of  55 variables:
 $ Code                        : chr "DC"
 $ State                       : chr "DC"
 $ State_id                    : int 11
 $ City                        : chr "Washington city"
 $ City2                       : chr "Washington"
 $ City3                       : chr "Washington"
 $ Place_type                  : chr "city"
 $ City_state                  : chr "WASHINGTON DC"
 $ City_code                   : chr "WASHINGTON DC"
 $ avgCensus2010pop            : int 647484
 $ avgPopestimate2015          : int 647484
 $ rownum                      : int 4133
 $ id                          : chr "1600000US1150000"
 $ id2                         : int 1150000
 $ geography                   : chr "Washington city, District of Columbia"
 $ totalpopulation             : int 647484
 $ malepop                     : int 306674
 $ femalepop                   : int 340810
 $ medianage                   : num 33.7
 $ per_male                    : num 47.4
 $ per_female                  : num 52.6
 $ total_area                  : int 601723
 $ urban                       : int 601723
 $ rural                       : int 0
 $ per_urban                   : num 100
 $ per_rural                   : num 0
 $ house_total_population      : int 273390
 $ mean_income_per_capita      : int 47675
 $ house_total_income          : int 273390
 $ total_population_race       : int 647484
 $ white_population            : int 260325
 $ black_population            : int 316447
 $ per_white                   : num 40.2
 $ per_black                   : num 48.9
 $ total_pop_over16            : int 546805
 $ employ_pop_over16           : int 377072
 $ per_employ_over16           : num 69
 $ total_population_lang       : int 607051
 $ english_only                : int 503735
 $ english_other               : int 103316
 $ per_english_only            : num 83
 $ per_english_other           : num 17
 $ mean_income_households      : int 107594
 $ total_population_individuals: int 647484
 $ house_median_income         : num 70848
 $ med_per_urban               : num 100
 $ med_per_rural               : num 0
 $ med_per_employ_over16       : num 69
 $ city                        : chr "WASHINGTON"
 $ state                       : chr "DC"
 $ location                    : chr "WASHINGTON DC"
 $ lon                         : num -77
 $ lat                         : num 38.9
 $ count                       : int 59813
 $ count_rate                  : num 92.4

In [133]:
features <- features %>% bind_rows(DCInfo)

Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding factor and character vector, coercing into character vector"Warning message in bind_rows_(x, .id):
"binding character and factor vector, coercing into character vector"

features <- write.csv("C:\\MathLabASUS\\Courses\\Ryerson\\Project\\Data\\Files\\Features_Demo\\features2dc.csv", 
                     stringsAsFactors = FALSE)